[2012-05-21 19:49] esteinberg opened #1 "Add copy to clipboard functionality"
Add copy image functionality on the tool window

[2012-05-21 19:50] esteinberg opened #2 "Add save to file functionality"
Add save to file functionality on preview tool window

[2012-05-21 22:37] esteinberg opened #3 "Support multiple PlantUML sources per file"
Add support for multiple PlantUML sources per text file

[2012-05-22 02:06] esteinberg opened #4 "Add scrollbars to the tool window"
Support scrolling for larger images

[2012-05-22 02:10] esteinberg opened #5 "Highlight PlantUml errors"
Highlight PlantUML errors in source document

[2012-05-22 02:42] #4 closed, assigned to esteinberg

[2012-05-22 02:43] esteinberg opened #6 "Add enable/disable plugin support"
Plugin should be disabled and perform no rendering when tool window is not visible

[2012-05-22 06:57] #2 closed, assigned to esteinberg

[2012-05-22 06:58] #1 closed, assigned to esteinberg

[2012-05-24 20:32] esteinberg opened #7 "Migrate to Maven builds"
Migrate to Maven build system

[2012-05-24 20:34] esteinberg opened #8 "Templates for popular PlantUML diagram types"

[2012-05-24 20:38] esteinberg opened #9 "Add ability to generate PlantUML sources out of Java code"
Add ability to render Java Code structure in PlantUML window. Also need ability to copy resulting PlantUML source to Clipboard

[2012-05-27 07:20] #7 closed, assigned to IvanMamontov

[2012-06-01 04:34] esteinberg opened #10 "Revert back from Maven based builds"
Unfortunately, Idea plugin framework is poorly fitted for Maven. Lets revert back to vanilla Idea plugin module

[2012-06-01 04:59] #10 closed, assigned to IvanMamontov

[2012-06-01 05:30] IvanMamontov opened #11 "Remove and ignore .DS_Store files in git repository"

[2012-06-01 05:38] #11 closed, assigned to IvanMamontov

[2012-06-01 06:56] #8 closed, assigned to IvanMamontov

[2012-06-04 10:37] mlieshoff opened #12 "NPE while creating a new diagram"
All times i receive a NullPointerException if i want to create a new diagram, it doesnt matter which diagram type.

In my case i go to a folder in project structure, press right mouse button and select "New/PlantUML Diagram/Usecase". Then i type in a name and receive the exception.

<code>
2012-06-04 12:38:02,981 [ 434779]  ERROR -    #com.intellij.lang.Language - IntelliJ IDEA 11.0.1  Build #IU-1

[2012-06-05 11:16] skuro opened #13 "AbstractMethodError when creating a new diagram"
Intellij 10.5.4 Ultimate

1- Right click on folder
2- New->PlantUML Diagram->(pick one, e.g. Component)
3- Enter filename->click OK

The following error occurs, no file is created.

[code]

[2012-06-05 12:33] skuro opened #14 "Rendering broken when switching out and back in Intellij"
System: OSX
Idea version: 10.5.4 Ultimate

When moving out and back in Idea (e.g. CMD+TAB or ALT+TAB) when the PlantUML tab is open, the UML diagram refreshes automatically displaying only `No @startuml found`. Only changing the text file makes it refresh properly.

[2012-06-06 15:00] terloger opened #15 "Do you plan to support phpStorm?"

[2012-06-08 08:13] #12 closed, assigned to IvanMamontov

[2012-06-08 08:16] #13 closed, assigned to IvanMamontov

[2012-06-18 11:53] esteinberg opened #16 "Save diagram as SVG, EPS"
Support SVG as a save format

[2012-06-24 18:32] #16 closed, assigned to esteinberg

[2012-06-25 03:20] linux-china opened #17 "Puml file editor"
Any plan to implement puml file editor, such as code completion, syntax high light and inspection?

[2012-06-25 06:35] linux-china opened #18 "Strange "IntellijIdeaRulezzz""
I open the plantuml tool window with pinned mode,  when I change some text in puml file, and plantuml tool window will add “IntellijIdeaRulezzz"  to the end of text.  Could you trim this word? thanks.

[2012-06-26 05:20] #18 closed, assigned to esteinberg

[2012-06-28 06:15] michaelwills opened #19 "Alert user to incorrect graphiz install"
First of all thanks for the great tool! Easiest way to use PlantUML for IntelliJ users. :)

I kept getting "no @startuml found" errors except for sequence diagrams. Turns out I had a corrupted install of graphiz where it could not output the version. Once I reinstalled graphviz it started working. But I couldn't tell that was the solution.

Perhaps a one time check for graphviz could be run and sh

[2012-07-02 17:21] #19 closed, assigned to esteinberg

[2012-07-04 06:07] esteinberg opened #20 "Refactor menu bar to native Idea ActionToolbar"
Idea has a native support for Action toolbars, see plugins/maven/src/main/java/org/jetbrains/idea/maven/navigator/MavenProjectsNavigatorPanel.java

Need to refactor to put it to use

[2012-07-08 07:04] #20 closed, assigned to esteinberg

[2012-07-10 01:37] vistrcm opened #21 "PyCharm?"
Is it possible to integrate this plugin with PyCharm?

[2012-07-10 03:54] #21 closed, assigned to esteinberg

[2012-07-10 06:34] #6 closed, assigned to esteinberg

[2012-07-11 06:07] esteinberg opened #22 "IllegalStateException in some case"
if (toolWindow.isVisible())  throws ISE in some cases.

[2012-07-11 06:50] #15 closed, assigned to nobody

[2012-07-12 21:22] esteinberg opened #23 "ISE in PlantUML rendering"
null
java.lang.IllegalStateException
    at net.sourceforge.plantuml.sequencediagram.graphic.GroupingGraphicalElementHeader.drawInternalU(GroupingGraphicalElementHeader.java:81)
    at net.sourceforge.plantuml.sequencediagram.graphic.GraphicalElement.drawU(GraphicalElement.java:59)
    at net.sourceforge.plantuml.sequencediagram.graphic.DrawableSet.drawPlaygroundU(DrawableSet.java:326)
    at net.

[2012-07-13 05:19] esteinberg opened #24 "Save diagram dialog enhancements"
- Remember previously opened folder
- Use source file name as filename suggestion

[2012-07-16 03:43] #24 closed, assigned to esteinberg

[2012-07-16 03:50] #23 closed, assigned to esteinberg

[2012-07-30 08:28] terloger opened #25 "Support more than one diagram on page"
block code in file:

[code]

plugin displays only the first diagram :(

[2012-07-30 08:32] #25 closed, assigned to nobody

[2012-08-04 08:56] linux-china opened #26 "i18n support?"
I write some Chinese words in file, and preview will be broken.  But I use dot command to generate picture, and it is fine.  My file is encoded with utf-8.

@startdot
digraph meeting {
   "Hello" -> "你好"
}
@enddot

[2012-08-08 07:01] esteinberg opened #27 "Add saveAll functionality"
Support saving all diagrams to file at once for multi-source file

[2012-08-08 08:02] #3 closed, assigned to esteinberg

[2012-08-17 22:15] #27 closed, assigned to esteinberg

[2012-08-21 22:08] esteinberg opened #28 "SaveAll functionality doesn't work as expected"

[2012-08-22 04:28] esteinberg opened #29 "Project Already Disposed exception"
Happens after project closed

Already disposed: Project (Disposed) Macys: Already disposed: Project (Disposed) Macys
java.lang.AssertionError: Already disposed: Project (Disposed) Macys
    at com.intellij.openapi.components.impl.ComponentManagerImpl.getComponent(ComponentManagerImpl.java:195)
    at com.intellij.openapi.fileEditor.FileEditorManager.getInstance(FileEditorManager.java:34)
    at or

[2012-08-22 04:51] #28 closed, assigned to esteinberg

[2012-08-22 04:51] #29 closed, assigned to esteinberg

[2012-08-22 10:01] IvanMamontov opened #30 "NullPointerException in some case"
Version: 1.3.2

<pre><code>
null
java.lang.NullPointerException
    at org.plantuml.idea.toolwindow.PlantUmlToolWindow$PlantUmlFileManagerListener.selectionChanged(PlantUmlToolWindow.java:172)
    at sun.reflect.GeneratedMethodAccessor49.invoke(Unknown Source)
    at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:25)
    at java.lang.reflect.Method.invoke(Method.

[2012-08-23 06:00] #30 closed, assigned to esteinberg

[2012-08-23 06:03] #22 closed, assigned to esteinberg

[2012-08-27 04:04] linux-china opened #31 "@startdot not support now?"
I have write some graph with dot, but now I can not preview the graph in the tool window.  The document is here http://plantuml.sourceforge.net/ditaa.html

[2012-09-01 07:35] #31 closed, assigned to esteinberg

[2012-09-03 10:24] ghost opened #32 "ignore leading * or // for plantUML code in java sources"
Our company code standards disallow comment blocks without a leading \* sign at the beginning of each line. Until a few weeks I was able to add UML diagrams to my source files and they got rendered correctly. Since version 1.3.1 (or so I believe) I can only see the error message "No @startuml found".

So this works fine:

[code]

but this doesn't:

[code]

[2012-09-05 21:15] esteinberg opened #33 "Support zooming of the diagram"

[2012-09-10 11:43] IvanMamontov opened #34 "NPE in some cases"
Version: 1.3.3
OS: Windows 7
Java: 1.6.0_26

<pre>
null
java.lang.NullPointerException
    at com.intellij.openapi.fileEditor.FileEditorManager.getInstance(FileEditorManager.java:34)
    at org.plantuml.idea.util.UIUtils.getSelectedSource(UIUtils.java:48)
    at org.plantuml.idea.util.UIUtils.getSelectedSourceWithCaret(UIUtils.java:36)
    at org.plantuml.idea.toolwindow.PlantUmlToolWindow.renderS

[2012-09-13 20:03] #34 closed, assigned to esteinberg

[2012-09-16 20:47] #33 closed, assigned to esteinberg

[2012-09-17 17:10] aubergine opened #35 "Unable to create / open diagram"
I was unable to create / open diagram in PHPStorm.

There are 2 scenarios:
1. Right click on any Project Folder and select "New -> Component". Add new name aka MyComponent. Press enter. And then I get error

Unable to parse template "Component"
Error message: Cannot create binary files from text: name MyComponent.puml, file type com.intellij.openapi.fileTypes.NativeFileType@13d0d04
1. Right click

[2012-09-20 23:31] esteinberg opened #36 "PlantUML exceptions are not supressed"
ull
java.lang.AssertionError
    at net.sourceforge.plantuml.sequencediagram.graphic.ConstraintSet.ensureSpaceAfter(Unknown Source)
    at net.sourceforge.plantuml.sequencediagram.graphic.ConstraintSet.pushEverybody(Unknown Source)
    at net.sourceforge.plantuml.sequencediagram.graphic.ConstraintSet.takeConstraintIntoAccount(Unknown Source)
    at net.sourceforge.plantuml.sequencediagram.graphic.

[2012-09-21 06:19] #36 closed, assigned to esteinberg

[2012-09-21 11:23] Kopakrraf opened #37 "include does not work with PhpStorm"
I have class uml in some php files. That looks like:

[code]

This works good, and I can see the graphic in the Plugin slide. But if I include such files to a bigger diagram (classes.puml) like:

[code]

Then I become the error:

[code]

The includes are working with the plantuml.jar -gui. But not in the PhpStorm plugin. I can see that the base folder is not the right one. It should be something l

[2012-10-02 05:45] #37 closed, assigned to esteinberg

[2012-11-12 21:25] dvdmelamed opened #38 "Support phpdoc comments for plantuml (PHPStorm)"
Please ignore the leading \* when trying to search for the @startuml ... @enduml tag

This works:
/*
 @startuml
  Bob -> Alice: hello
*/

This doesn't (though it is the valid phpdoc syntax):
/**
  * @startuml
  * Bob -> Alice: hello
  */

Thanks in advance!

[2012-11-19 17:22] esteinberg opened #39 "syntax color profile for puml file ext name"
AlexLin
Rated:
2012-11-19 11:51:20

It would be better to provide syntax color profile for puml file ext name in plugin. Currently I add custom file type mapping and keywords manually.

[2012-11-22 10:06] #14 closed, assigned to esteinberg

[2012-11-26 19:49] esteinberg opened #40 "Bump Up PlantUML dependency"
Latest plantUML contains several yummy features, like package style. Lets upgrade

[2012-12-12 10:01] IvanMamontov opened #41 "UIUtils#getSelectedSource() is allowed from event dispatch thread only"
- IDEA: 12.0
- Version: 1.4.2
- OS: Mac OS 1.7.5
- Java: 1.6.0_37

<pre>
Access is allowed from event dispatch thread only.
Details: Current thread: Thread[ApplicationImpl pooled thread 206,4,Idea Thread Group] 657085279
Our dispatch thread:Thread[AWT-EventQueue-1 12.0#IU-123.72, eap:false,6,Idea Thread Group] 360777192
SystemEventQueueThread: Thread[AWT-EventQueue-1 12.0#IU-123.72, eap:false,6,Id

[2012-12-13 03:48] bestander opened #42 "node, cloud, database components"
Hi, currently the plugin can't render the following UML from plantuml site:

@startuml

package "Some Group" {
  HTTP - [First Component]
  [Another Component]
}

node "Other Groups" {
  FTP - [Second Component]
  [First Component] --> FTP
}

cloud {
  [Example 1]
}

database "MySql" {
  folder "This is my folder" {
    [Folder 3]
  }
  frame "Foo" {
    [Frame 4]
  }
}

[Another Component] --> [E

[2012-12-13 19:55] #38 closed, assigned to esteinberg

[2012-12-18 04:08] #42 closed, assigned to esteinberg

[2012-12-18 04:08] #41 closed, assigned to esteinberg

[2012-12-18 04:08] #40 closed, assigned to esteinberg

[2012-12-18 04:09] #32 closed, assigned to esteinberg

[2012-12-18 04:09] #35 closed, assigned to esteinberg

[2013-01-25 15:36] ghost opened #43 "The plugin toolbar on Intellij 10.5 cannot find the method of the event (save, copy...)"
When pushing any buttons of the toolbar plugin such as save, copy, zoom, etc... an error occured in Intellij 10.5 Ultimate.

Error during dispatching of java.awt.event.MouseEvent[MOUSE_RELEASED,(972,121),absolute(968,117),button=1,modifiers=Button1,clickCount=1] on frame0: com.intellij.openapi.actionSystem.AnActionEvent.getProject()Lcom/intellij/openapi/project/Project;
java.lang.NoSuchMethodError

[2013-02-11 10:25] mpantel opened #45 "Problem with utf-8 in included file"
Hi to everyone,

I have two files:
a.puml:
@startuml
class "Ελληνικά" as Aclass
@enduml

which produces correctly:
![a](https://f.cloud.github.com/assets/44258/144716/131de2f0-7435-11e2-9f90-358f0bc6fab1.png)

and b.puml which !includes a.puml:
@startuml
!include a.puml
@enduml

but incorrectly produces:
![b](https://f.cloud.github.com/assets/44258/144719/2610d57a-7435-11e2-9591-660fe2bbc39c.png)

[2013-02-15 11:32] #45 closed, assigned to nobody

[2013-02-20 08:16] gabel opened #46 "Activity diagram support broken"
Activity diagram support is broken for me. The activity-placements are wrong - see image below. Is this reproducable? Other diagrams are working fine..

Btw: There's a new BETA Version of activity diagrams by PlantUML

Puml Example:
@startuml

(_) --> "First Activity"
--> "Second Activity"
--> "Third Activity"
"First Activity" --> (_)

@enduml

![demo](https://f.cloud.github.com/assets/242039/1750

[2013-02-22 11:43] gberche opened #47 "use of newpage keyword produces only the image for first page"
the newpage keyword breaks a large diagram into multiple pages.

When a large sequence diagram is split in multiple files, the actors/participants gets duplicated into the subfiles, making its maintenance harder.

It would be great to be able to support the newpage into intellij.

I was hoping the "save all diagrams" would generate muitple images, but it only generates one.

Even better, on the pr

[2013-03-01 15:24] #46 closed, assigned to esteinberg

[2013-03-01 15:27] #9 closed, assigned to IvanMamontov

[2013-03-30 21:53] #47 closed, assigned to esteinberg

[2013-04-11 21:53] esteinberg opened #48 "PlantUML language highlighting support"

[2013-05-22 11:03] sergei-grigorev opened #49 "Multipage diagram. Copy or save image incorrect works"
If there are two or more pages (using newpage directive) it always generates the only first page diagram. I can't save the another pages diagram in png-image file.

[2013-07-02 15:20] sinojelly opened #50 "can not support plantuml.jar 7969."
when i replace plantuml.jar 7959 with 7969,  can not generate uml diagram now.

Is it needed to modify plugin code to match new plantuml.jar ?

Thanks!

[2013-07-08 03:35] #50 closed, assigned to esteinberg

[2013-08-29 12:34] jurgenhaas opened #51 "Plugin stops working when switching projects"
I'm using the latest stable release of PhpStorm and the latest version of the PlantUML plugin. I'm working on a .puml file and get the updated graphic in a separate pane when ever the puml changes.

That works fine forever, unless I open another project in a new window of PhpStorm. As soon as I switch back to the first project, the graphic won't update anymore. I have to close the project and re-o

[2013-12-14 12:34] gernotstarke opened #53 "creates "Class" template - but that name already exists"
upon installation this plugin creates several templates, one of those is called "Class".

That leaves IntelliJ with TWO templates of the same name - they cannot be renamed or deleted.

Maybe change the name to "UMLClass"...

[2014-02-10 01:54] #51 closed, assigned to esteinberg

[2014-02-11 20:05] tomaratyn opened #55 "OSX fullscreen problems"
PlantUML causes (caused?) problems when opening a project that's in full screen mode in PyCharm. See http://youtrack.jetbrains.com/issue/PY-12066 for details.

Reinstalling the plugin fixed the issue but I spent months with the problem.

I love PyCharm and the plantuml integration is such a great boost! Thanks for making it so easy to use two tools that I love.

[2014-02-27 07:12] IvanMamontov opened #57 "NPE"
- version 1.4.8
- IDEA IU-133.370

[code]

[2014-03-01 20:18] #57 closed, assigned to esteinberg

[2014-03-04 19:33] ghost opened #58 "Salt Support"
Will there be any support for SALT?
here--> http://plantuml.sourceforge.net/salt.html

It would be incredible to be able to quickly mock the GUI from there.

[2014-03-05 05:36] #58 closed, assigned to nobody

[2014-03-09 18:59] #43 closed, assigned to nobody

[2014-03-14 07:12] gberche-orange opened #59 "Reverse engineering support: save IDEA class diagrams as plantuml diagrams"
Plantuml is such a great tool for crafting diagrams and integration into intellij is really great for deployment, sequence diagrams ...

When describing existing code in uml diagrams (e.g. explaining a refactoring), it is often time consumming to do the reverse engineering manually the model (class names, relationships, attributes).

Intellij idea has this model and exposes a way to select the lev

[2014-04-04 11:13] pajusmar opened #60 "Creole support"
A light Creole engine have been integrated into PlantUML to have a standardized way of defining text style. All diagrams are now supporting this syntax, ascending compatibility with HTML syntax is preserved. [More info...](http://plantuml.sourceforge.net/creole.html)

Without knowing how IDEA plugins work, I tried first thing that came into my mind. I downloaded latest plantuml.jar, switched jar f

[2014-04-25 07:26] gberche-orange opened #61 "Plantuml navigation, e.g. go to symbol definition"
Plantuml4Idea is great, the more I use it, the more new idea come to mind to further increase productivity with large diagrams.

Navigation in source code (e.g. java) is such a time saver in intellij. Would be great to have it applied to plantuml source files.

E.g. in component diagrams, taking the example from the [reference doc](http://plantuml.sourceforge.net/component.html):

<pre>
@startuml

[2014-05-03 23:48] #55 closed, assigned to esteinberg

[2014-05-03 23:54] #26 closed, assigned to esteinberg

[2014-05-03 23:55] #60 closed, assigned to esteinberg

[2014-05-12 02:58] #49 closed, assigned to esteinberg

[2014-05-12 02:58] #53 closed, assigned to esteinberg

[2014-05-30 14:56] IvanMamontov opened #62 "NPE"
plantuml version 1.4.9
idea 135-760

[code]

[2014-07-10 20:58] eugenehr opened #63 "Restore last selected page number after fixing errors"
Plugin resets the page number on preview while I'm editing the diagram.
It is very inconvenient for multi-page diagrams.

[2014-08-15 23:17] #62 closed, assigned to nobody

[2014-08-22 13:46] iinegve opened #65 "Configuration settings for plantuml plugin"
Currently it's using particular hard coded location of the dot binary. I'd like to have it configurable so that I don't need to copy it to /usr/bin/dot.

[2014-09-08 09:02] fathersson opened #66 "Make sense to have a group for all plant uml diagrams in New submenu."
![screen shot 2014-09-08 at 12 09 28](https://cloud.githubusercontent.com/assets/3673110/4182929/399c95f0-3736-11e4-9169-2f1cfa8c2311.png)

It'd be great to combine all UML classes into one group like "XML Configuration File".

[2014-09-14 02:30] #5 closed, assigned to esteinberg

[2014-09-14 02:31] #65 closed, assigned to 6zow

[2014-09-16 06:21] esteinberg opened #67 "Support error highlighting in multi-source puml files"

[2014-09-27 19:44] esteinberg opened #68 "Support intentions for quick syntax error fixes"

[2014-09-27 20:07] #68 closed, assigned to esteinberg

[2014-09-27 20:14] #67 closed, assigned to esteinberg

[2014-09-30 17:53] esteinberg opened #69 "IndexOutOfBound in PlantUmlExternalAnnotator"
Wrong line: 233. Available lines count: 67: Wrong line: 233. Available lines count: 67
java.lang.IndexOutOfBoundsException: Wrong line: 233. Available lines count: 67
    at com.intellij.openapi.editor.ex.util.SegmentArray.getSegmentStart(SegmentArray.java:190)
    at com.intellij.openapi.editor.impl.LineSet.getLineStart(LineSet.java:50)
    at com.intellij.openapi.editor.impl.DocumentImpl.getLine

[2014-10-07 03:04] #69 closed, assigned to esteinberg

[2014-10-07 03:04] #48 closed, assigned to esteinberg

[2014-11-21 11:59] alexsapran opened #70 "Issue when created a default Class diagram"
I created a new class diagram and i got this error.
The diagram is the one that is automatically generated and i have not yet added or removed any components.
Here what i saw.

![plantuml](https://cloud.githubusercontent.com/assets/2103997/5142059/855ce974-7186-11e4-85e2-b05edf0bddb2.PNG)

[2014-11-24 15:15] krasa opened #71 "Open Tool Window on opening of the puml file"
I want to always see the diagram.

Such feature is implemented for IJ *.form files, so I expect it to be quite easy. I could pull request it if you want.

[2014-11-24 15:17] krasa opened #72 "Right click context menu on the diagram | Copy"
I think it will be easier to copy it this way - at least that's what I expected on the first try.

[2014-11-24 15:23] krasa opened #73 "Show All Pages - combobox default choice"
Maybe with JSeparator between them.

I think it would be more user friendly to just scroll than to click and choose a page. You could edit everything, and just scroll when you have big diagrams.

Copy button would copy everything if possible, or would be disabled if not feasible - then #72 would be very useful.

[2014-11-28 11:23] pajusmar opened #74 "Stop in Activity diagram's else clause causes UnsupportedOperationException"
Using PlantUML on command line I can render the following UML without problems.

[code]

However the IDEA plugin won't render it and instead gives me the following stacktrace (copy-pasted image):

![image](https://cloud.githubusercontent.com/assets/472587/5227136/fbac9646-76ff-11e4-96e0-683f9f87daa8.png)

Expected result:
![image](https://cloud.githubusercontent.com/assets/472587/5227145/2043ee14-

[2014-12-16 09:59] #74 closed, assigned to nobody

[2014-12-19 11:32] krasa opened #78 "Using multiple projects breaks editor listeners"
Open 2 project, close one, PlantUmlProjectManagerListener#projectClosing >> PlantUmlToolWindow#unregisterListeners  is called for both...

I will fix pull request a fix.

[2014-12-25 15:55] singalen opened #79 "Default "save image" directory should be project dir, not user home"
Under Linux/PyCharm, the default directory in "Save diagram" dialog is always my home directory.
I expect it to be either:
- project directory
- or the directory I chose when saving the last PNG.

[2014-12-25 15:56] singalen opened #80 "If there is only one page in a diagram, disable paging controls"
The page selection combobox/arrows are only confusing the user, if there is only one page in a diagram.

[2014-12-25 16:04] singalen opened #81 "IDEA context action: reverse arrow(s)"
Some day, when the plugin supports the syntax, I'd love to have an IDEA context action (the one for Alt-Enter) like "Reverse arrow layout", that turns arrow the other way around:
`[component1] -> [component2]`
to
`[component2] <- [component1]`
I had to do a lot of these by hand when changing a diagram layout.
Maybe this one could be accompanied with "flip horizontal/vertical" action.
Maybe it coul

[2014-12-29 00:44] #73 closed, assigned to esteinberg

[2014-12-29 00:44] #72 closed, assigned to esteinberg

[2014-12-29 00:47] #78 closed, assigned to esteinberg

[2014-12-29 00:48] #71 closed, assigned to esteinberg

[2014-12-29 01:02] #63 closed, assigned to esteinberg

[2014-12-29 01:44] #79 closed, assigned to esteinberg

[2014-12-29 02:53] #80 closed, assigned to esteinberg

[2015-01-01 21:33] AdrieanKhisbe commented on #17
Hey All!
@Stefku, did you drop your idea, I checked your project intellij-plantuml-syntaxcheck and saw no jflex.

@esteinberg I am currently working on the org4idea plugin contributing to it's editing and syntax highlighting features. Since I'm also an user of your plantuml plugin, I thought I could put the knowledge developed to improved your plugin and bring basic editing ans syntax features .

[2015-01-02 08:30] Stefku commented on #17
Hi @AdrieanKhisbe,
I tried hard to create a syntax for pump. But probably I'm too inexperienced in creating grammars because for me it seems that puml syntax has a lot of possibilities to create same building blocks like definitions that a grammar like I tried is not able to cover. Any ideas?
Bye,
Stefan

[2015-01-02 08:42] AdrieanKhisbe commented on #17
Hey @Stefku ,
indeed puml syntax doesn't seems that easy, However there is no need to have a perfect grammar to offer some feature as basic syntax highlighting (like kerword), etc.

However to do a proper grammar, might be better to use the idea Grammar-Kit enabling to write bnf grammar and generating the psi ast for you.

So far I forked the project, and waiting to have @esteinberg green light to

[2015-01-02 08:55] 6zow commented on #17
I'm working on the grammar. So far completed sequence and component diagrams, still working on class diagrams. Will make it available within 2 weeks, most likely just with syntax highlighting and cryptic error reporting, maybe with some basic intents. After that you're welcome to join me and add support for other diagram types, as well as improved error messages and some advanced actions (e.g. I s

[2015-01-02 09:08] Stefku commented on #17
Hi @AdrieanKhisbe, I used the Grammar-Kit. Well, I tried, though. So, I'm looking forward to see the solution of @6zow.

[2015-01-03 09:23] r3c130n opened #84 "Plugin 'PlantUML integration' failed to initialize and will be disabled. First installation"
Plugin 'PlantUML integration' failed to initialize and will be disabled.  Please restart PhpStorm.

com.intellij.diagnostic.PluginException: org/plantuml/idea/toolwindow/PlantUmlApplicationComponent : Unsupported major.minor version 51.0 [Plugin: PlantUML integration]
    at com.intellij.ide.plugins.cl.PluginClassLoader.b(PluginClassLoader.java:130)
    at com.intellij.ide.plugins.cl.PluginClassLo

[2015-01-03 11:18] AdrieanKhisbe commented on #17
@Stefku, my bad I thought you only used flex (that's like that so far on org4idea, with no real parsing).
Also looking forward for your grammar and editor  @6zow :)
Good luck!

[2015-01-04 08:06] esteinberg commented on #84
Turns to be a build issue. Uploaded new build which should work with 1.6 JDK used by Idea by default. Please re-install plugin

[2015-01-04 08:07] #84 closed

[2015-01-04 19:11] esteinberg commented on #17
Looks like everybody is waiting for @6zow pull request :)

[2015-01-21 16:32] bioinfornatics opened #85 "Do not always refresh the generated image"
Dear, sometime the plugin do not refresh the generated image.
To workaround I need to break plantuml syntax as `@startuml` to `@start ` close the project, Open the project and fix the syntax.

[2015-01-21 16:35] krasa commented on #85
is there something in the log?

[2015-01-21 16:40] bioinfornatics commented on #85
No log are empty.
This problem happend with include. The included file sometime  is not refreshed.

[2015-01-21 16:52] krasa commented on #85
Reproduced. Try hitting Save, and then edit the main file.
PlantUml lib is looking into the physical file, but IntelliJ saves changes only after some actions...

[2015-02-05 04:39] RamonDonnell opened #86 "intellij 14 view visibility"
In intellij 13 the plantuml view visibility is set by the user, i.e. you open or close it. Typically I would open it ,float it on another monitor and then edit the file.

In 14.0.2 (build 139.659), the plantuml view disappears when editing a non plantuml file, then flickers open/closed when a plantuml file is edited again. This makes it almost unusable.

[2015-02-05 09:17] krasa commented on #86
#87 should be enough, but I will pull request a settings for it later.

[2015-02-14 16:44] AdrieanKhisbe commented on #17
Hey @6zow,
where are you with the grammar and editor? :)

[2015-02-16 02:49] wowzow commented on #70
Simple fix for this issue on Jetbrains products:  download and install the GraphViz software on your computer, PlantUML needs GraphVis to render 'most' of it's diagrams.

Just FYI.

[2015-03-06 13:57] pschulz opened #88 "NullPointerException"
I do not know why, but I quite often get this error.

PhpStorm 8.0.3 (build #PS-139.1348, 12 Feb 2015 00:00)
OS: Mac OS X (10.9.5, x86_64)
JRE: 1.6.0_65-b14-466.1-11M4716 (Apple Inc.)
JVM: 20.65-b04-466.1 (Java HotSpot(TM) 64-Bit Server VM)

null
java.lang.NullPointerException
	at org.plantuml.idea.util.UIUtils.getToolWindow(UIUtils.java:173)
	at org.plantuml.idea.util.UIUtils.renderPlantUmlToolWi

[2015-03-08 21:29] Kreeblah opened #90 "IndexOutOfBoundsException"
I'm migrating some PlantUML diagrams from Eclipse to Idea, and I'm receiving the below exception when I paste them in.  What seems to be triggering it is the leftover bits from comment blocks in Eclipse since they were in class header comments.  So, for example, if I have a sequence diagram that looks like this:

@startuml
Alice -> Bob: Request
Alice <-- Bob: Reply
@enduml

I'd be pasting it in as

[2015-03-10 23:57] #86 closed

[2015-03-10 23:57] #88 closed

[2015-03-11 08:55] krasa commented on #90
http://plantuml.sourceforge.net/qa/?qa=3216

[2015-03-11 19:22] krasa commented on #17
@6zow any news?

[2015-03-11 19:28] 6zow commented on #17
I'm sorry, I was distracted from this activity for too long. Let me try to
finish it by the end of this week.
If anyone has any experience with running Grammar Kit and JFlex as
standalone tools, please let me know. I had some issues with generating
compilable code in a script.

On Wed, Mar 11, 2015 at 12:22 PM Vojtěch Krása <notifications@github.com>
wrote:

[2015-03-12 08:36] AdrieanKhisbe commented on #17
I was facing the same issue for org4idea, but didn't really had time to dig in.

Here is some linked I bookmarked:

Plugin with gradle build: https://github.com/Vektah/idea-rust/blob/master/build.gradle

Plugin using grammar kit: https://github.com/carymrobbins/intellij-haskforce
https://github.com/ignatov/intellij-erlang

[2015-03-12 18:49] 6zow commented on #17
Andriean,

These links are interesting, thank you! Both projects using Grammar Kit
just check-in generated files. That's something I want to avoid. Another
problem is that when I tried to generate code using standalone approach
(using the same jar files as used when you launch it from IDEA), it
generated some code which did not compile. But that's JFlex, so I'll try to
play with it to see what ver

[2015-03-12 22:04] #70 closed

[2015-03-13 06:25] AdrieanKhisbe commented on #17
For the two project I know, just gave them as reference.
 (plus in latest idea  a glitch make them generated in src...)
Last time I search I didn't found anyplugin that both was really automated, and used Grammar kit :/

we should ask JetBrains to make a gradle plugin :D

[2015-03-16 06:18] wenerme opened #92 "Support startdot and format dot"
Plantuml support `@startdot`, but plantuml4idea do not recongnize,no highlight and format.plantuml4idea said `No @startuml found`.

But plantuml4idea show the correct image on right side.

[2015-03-16 17:11] manicmonkey opened #93 "Syntax validation does not recognise 'include' directive"
We are reusing styles across diagrams using:

```!include sequence-style.puml```

The syntax highlighter seems to alternative between liking it and not liking it for some reason...

Ref: http://plantuml.sourceforge.net/preprocessing.html

[2015-03-17 01:10] esteinberg opened #94 "Index out of Bound Exception (v1.6.1)"
Wrong line: 254. Available lines count: 36
java.lang.IndexOutOfBoundsException: Wrong line: 254. Available lines count: 36
	at com.intellij.openapi.editor.ex.util.SegmentArray.getSegmentStart(SegmentArray.java:190)
	at com.intellij.openapi.editor.impl.LineSet.getLineStart(LineSet.java:50)
	at com.intellij.openapi.editor.impl.DocumentImpl.getLineStartOffset(DocumentImpl.java:908)
	at org.plantuml.i

[2015-03-17 01:32] krasa commented on #92
I don't even get an image
[code]

[2015-03-17 01:34] wenerme commented on #92
![image](https://cloud.githubusercontent.com/assets/1777211/6679824/c10ca63c-cc88-11e4-8a91-58f65eb7e466.png)

[2015-03-17 01:56] krasa commented on #92
http://plantuml.sourceforge.net/qa/?qa=3249/syntaxchecker%23checksyntax-does-not-recognize-%40startdot

[2015-03-17 01:58] krasa commented on #94
reproducible?

[2015-03-17 02:29] krasa commented on #94
seems like rendering affects syntax checking, will report a bug.
![image](https://cloud.githubusercontent.com/assets/1160875/6680300/97107d28-cc55-11e4-86dd-89680c2c1de3.png)

[2015-03-17 10:50] krasa commented on #94
http://plantuml.sourceforge.net/qa/?qa=3250/syntaxchecker%23checksyntax-is-not-thread-safe&show=3255#c3255

[2015-03-19 18:49] 6zow commented on #17
I ended up with a bash script which works, but is not cross-platform. Tried to use gradle, but it takes too much time, since I did not use it before. Any suggestions?

The first batch (sequence, class and component) is ready, will submit soon. There are some minor improvements to follow. Stay tuned.

[2015-03-19 23:22] krasa commented on #85
fixed

[2015-03-19 23:22] #85 closed

[2015-03-19 23:22] krasa commented on #90
fixed

[2015-03-19 23:22] #90 closed

[2015-03-19 23:22] krasa commented on #93
fixed

[2015-03-19 23:22] #93 closed

[2015-03-19 23:23] krasa commented on #94
fixed, although no syntax validation after !include is possible for now

[2015-03-19 23:23] #94 closed

[2015-03-19 23:38] krasa commented on #17
bash is fine, even for windows - imho everyone has Git Bash

[2015-04-12 14:47] krasa opened #96 "Support IJ 12"

[2015-04-15 15:48] paolofulgoni opened #97 "Appropriate syntax highlighting for comments"
PlantUML comments are not recognized and therefore not displayed properly.

PlantUML has two types of comments (see page http://plantuml.sourceforge.net/sequence.html):
- single line `'`
- multiple line `/' ... '/`

[2015-05-04 17:41] jmdacruz opened #98 "Random "Assertion Error""
I'm getting *random* assertion errors when using the plugin (version 1.7.0). And by *random*, I mean that it I insert a few spaces or newlines on the document I can manage to get PlantUML to render the image, until the exception is thrown again later.

AFAICT, the error doesn't seem to be rooted in plugin itself but in the PlantUML code. Maybe a concurrency-related issue?

Stack trace follows belo

[2015-05-21 08:19] digiry opened #99 "Display broken unicode font"
Dear,

When I wrote plantuml file, all string in korean had been rendered with it broken.
( Korean string was encoded with unicode. )

I attached my plantuml script.
Please check this issue.

[code]

Platform:

Ubuntu 12.04
PyCharm 4.5
PlantUML integration 1.7.0
dot - graphviz version 2.26.3-10ubuntu1.2
jdk - 1.6.0_45

[2015-05-22 16:15] sestegra opened #100 "newpage isn't working in class diagram"
When inserting 'newpage' in a class diagram file, no new page is inserted in the generated document.

[2015-05-22 16:30] esteinberg opened #101 "Issue with file naming when saving diagram image"
Steps to reproduce:
- open save diagram dialog
- place cursor on existing file
- type new name
- Click Ok

Issue:
New name is not effective, and dialog prompts just to rewrite the selected file

![image](https://cloud.githubusercontent.com/assets/265887/7775057/9a5df5f8-0064-11e5-9480-d26e0572589b.png)

[2015-05-23 12:47] krasa commented on #99
works for me on win 7
![image](https://cloud.githubusercontent.com/assets/1160875/7784088/5b2805c2-0159-11e5-9e33-89c92e6f5e67.png)

[plantuml demo works also](http://www.plantuml.com:80/plantuml/png/gt7EoKpDAwdXgb7soKpFA77AAKsj2KujAaij0ehbLheurN1nSTN0L1MN91QLS5cztjJoPa7BsvbJtypTeV1crfGtczPQSy6rMRauARnPCFNrvYq8EOX9LX1pOBAlDynuEtE6DLTgNWeN0000
)

no idea what could be wrong. maybe someone with linu

[2015-05-23 12:51] krasa commented on #100
PlantUML do not seem to support it, you could report it there: http://plantuml.sourceforge.net/qa/

[2015-05-23 12:51] #100 closed

[2015-05-23 13:01] krasa commented on #98
never seen that, you could try to update your plantuml.jar in ```C:\Users\xxx\.IntelliJIdea14\config\plugins\plantuml4idea\lib```  - from http://sourceforge.net/projects/plantuml/files/plantuml.jar/download

[2015-06-01 21:44] krasa commented on #81
Maybe I could implement some dumb action even without the PSI...

[2015-06-02 16:00] jmdacruz commented on #98
I haven't tried manually upgrading the plantuml library, but I'm not able to reproduce the issue now (maybe the plugin got upgraded since I posted this issue?)

Running `java -jar plantuml.jar -v` on the library in the plugin gives me this:

[code]

[2015-06-02 16:18] krasa commented on #98
you have still the old version, the plugin was upgraded yesterday to 1.7.1 and it should return:
[code]

[2015-06-02 20:05] jmdacruz commented on #98
Weird, I just updated to the latest version of the plugin, but now I'm getting a completely different error: I'm using [skinparam](http://plantuml.sourceforge.net/skinparam.html), and PlantUML tells me there is a syntax error, but this was working fine before.

Digging a bit deeper, I realized that when using version 8024 everything works fine, but when using version 8025 then the skinparam functi

[2015-06-02 20:05] #98 closed

[2015-06-02 20:18] jmdacruz commented on #98
I actually detected what was broken between 8024 and 8025: My skinparam section had comments inside it (note the single quote on the last lines of the section). Removing the comments solves the issue, which makes this a backwards compatibility issue:

[code]

I'm posting an issue into the PlantUML forum

[2015-06-02 20:40] krasa commented on #98
:+1:

[2015-06-03 22:00] krasa commented on #81
So I've made an Intention which reverses basically anything with '.' or '-' inside it - PlantUml has something like 30 different arrows...

![arrows](https://cloud.githubusercontent.com/assets/1160875/7972373/174ad0ae-0a4c-11e5-8842-a5fb2a4dd6fa.gif)

https://github.com/krasa/plantuml4idea/tree/arrowIntention

Should I merge it and release it? :)

[2015-06-03 23:37] esteinberg commented on #81
Looks like a nice feature, lets release it!

[2015-06-04 00:06] krasa commented on #81
one thing, for now I hooked it only on PlantUml file type, not sure about performance of org.plantuml.idea.plantuml.PlantUml#extractSource on huge files, since it is executed all the time...
https://github.com/krasa/plantuml4idea/blob/arrowIntention/src/org/plantuml/idea/intentions/ReverseArrowIntention.java#L32-32

[2015-06-04 22:57] krasa opened #104 "Included files are not saved before rendering (regression with 8025)"

[2015-06-11 15:03] krasa commented on #104
fixed

[2015-06-11 15:03] #104 closed

[2015-06-11 15:03] krasa commented on #96
Fixed.

[2015-06-11 15:03] #96 closed

[2015-06-11 15:03] krasa commented on #81
It was just released.

[2015-06-17 07:06] koroandr opened #105 "Cannot build from source and run plugin on Idea 14"
I tried to build this plugin from source (wanted to add some features).

1. Clone repository, check out master.
2. Run grammar-gen.sh
3. Run "Generate" on PlantUml.bnf
4. Create Run/Debug configuration and click "debug"

Got this exception:

[code]

Could anyone help?

[2015-06-17 07:52] krasa commented on #105
At this point, you would be better off doing it on 1.x branch.

[2015-06-17 09:08] koroandr commented on #105
On 1.x there is no "tools" folder. Is there any reason for that? Or it appeared directly in master?

[2015-06-17 10:06] krasa commented on #105
Master contains new language support, but it is not finished yet, I am not sure if anyone continues to develop it...
1.x does not need any generated classes, you just checkout it and run it.

[2015-06-17 10:39] koroandr commented on #105
Thank you a lot! That helped.

Probably you should put this in master README.md file, it's not obvious at all :)

[2015-06-17 10:39] #105 closed

[2015-06-17 11:36] krasa commented on #105
Good point. Will do.

[2015-06-23 08:24] bondden opened #107 "[bug] Running plugin fails after updating plantuml.jar to 8027 version"
1. 8027-beta worked fine:
https://dl.dropboxusercontent.com/u/13064071/plantuml.jar

2. Steps to reproduce:
2.1. Replace *USER_HOME*.WebStorm10/config/plugins/plantuml4idea/lib/ **plantuml.jar**
with the lates bersion, downloaded from: http://plantuml.sourceforge.net/download.html
2.2. Open any plantuml file in the IDE
2.3. The IDE shows an error:
[code]

[2015-06-27 21:21] krasa opened #108 "Reload diagram on change in included files"

[2015-07-02 14:51] krasa commented on #108
Fixed.

[2015-07-02 14:51] #108 closed

[2015-07-02 14:51] krasa commented on #107
Fixed.

[2015-07-02 14:51] #107 closed

[2015-08-25 12:30] DaRolla opened #109 "missing syntax hilighting for includes (*.iuml)"
Hi there,
on their webpage the PlantUML team explains their include mechanism: http://de.plantuml.com/preprocessing.html

Using Android Studio 1.4 Preview 3 I get no syntax hilighting for my colors.iuml file which I include in my sequence diagram using: `!include colors.iuml`

I think the plugin misses to registrate the file extension *.iuml.

Cheers,
DaRolla

[2015-09-04 00:00] compunova opened #110 "Parse PlantUML syntax from code"
Dear plantuml4idea developers!

I have been looking for the with the code documentation solution, which would enable me to document relations between components of my code. This would enable us to create documentation whch reflects the code of the projuct thus making it possible to keep it up to date. I use PyCharm 4.5.3 Pro and the built in autogenerated UML diagrams are quite basic with minimal

[2015-10-23 19:36] binarytemple opened #111 "I'd like to implement auto-compile : on file change regenerate images with default settings"
This is my first attempt to hack an intellij plugin. I'd like to listen for file modification events and kick off plantuml on the command line to generate the corresponding image file.

I don't have a clue on how to get started with intellij though. I've checked out the project and compiled it but can't figure the runtime configuration.

Are there any resources you could point me towards?

[2015-10-23 19:45] bondden opened #112 "Performance optimization at plugin level"
- The issue:
Image updates immediately on code change
as a result: **slow performance** on complex diagrams.

- Possible improvement:
Add a **delay** between key up event and **rendering** run.

[2015-10-23 19:47] binarytemple commented on #111
For example, I receive this error message.

![example error message](https://cloud.githubusercontent.com/assets/419046/10703324/2251d930-79c7-11e5-871b-d9878f73e2bd.png)

[2015-10-23 20:48] binarytemple commented on #111
I've managed to get it running an make a first attempt at listening for file change events - https://github.com/binarytemple/plantuml4idea/commit/fc11ed30cf136aaaeb780a5d96ccf94fe989adf0

Have you got any suggestions of a good next step? Docs or ideas.

[2015-10-24 10:10] krasa commented on #111
Why do you want to use command line?

IntelliJ plugin already listens to modifications and renders the image https://github.com/esteinberg/plantuml4idea/blob/1.x/src/org/plantuml/idea/toolwindow/listener/PlantUmlDocumentListener.java
you could easily save the image to a file if you want.

If you need to listen to external modification events, then there are afaik some file watchers in IntelliJ whi

[2015-10-24 13:08] binarytemple commented on #111
I want to add support for auto-creating the image corresponding to the uml diagram every time a project build is triggered. I could do something with Maven, grade or whatever but direct support in Intellij would make it much more cconvenient for the user. The generated images would land in the build output directory.Thanks for the pointer, I'll investigate when I get home.Bryan

[2015-11-15 23:38] binarytemple commented on #111
hacked away a while, the resorted to stack-overflow - earned the tumbleweed badge.

[2015-11-20 19:33] hznut opened #113 "Please provide support for Activity2 diagrams"
The [Activity2](http://plantuml.com/activity2.html) diagrams provide lot of enhanced capabilities like repeat loops etc. which are really useful. It'll be good to have support for them.

[2015-11-20 19:53] krasa commented on #113
What support do you have in mind? It should work in the current version.

[2015-11-20 19:58] hznut commented on #113
'repeat loop' and 'while' keyword support for instance. Currently when I
use them the plugin does not recognize them and throws error.

On Fri, Nov 20, 2015, 11:53 AM Vojtěch Krása <notifications@github.com>
wrote:

[2015-11-20 20:01] krasa commented on #113
I will update the library

[2015-11-20 20:03] hznut commented on #113
Thanks. Appreciate it.

On Fri, Nov 20, 2015, 12:01 PM Vojtěch Krása <notifications@github.com>
wrote:

[2015-11-20 20:12] krasa commented on #113
Install this: https://github.com/esteinberg/plantuml4idea/releases/download/1.9.0-SNAPSHOT/plantuml4idea.zip

[2015-11-24 07:50] hznut commented on #113
Installed the 1.9.0-SNAPSHOT and able to work with the new syntax as well as old syntax. Thanks!

When can we expect a release version available in IntelliJ plugin repository ?

[2015-11-25 02:02] krasa commented on #113
I could release it anytime, but I want to implement some features first and test if everything works.

[2015-11-25 02:24] hznut commented on #113
Sounds good. Thanks! Looking forward to the release. The issue is resolved for me for now.

[2015-12-08 07:20] ar3b opened #114 ""Note on link" IllegalArgumentException"
# Input:

[full.puml.txt](https://github.com/esteinberg/plantuml4idea/files/55097/test.txt)

# Exception:
class net.sourceforge.plantuml.command.regex.RegexConcat     note on link
java.lang.IllegalArgumentException: class net.sourceforge.plantuml.command.regex.RegexConcat     note on link
	at net.sourceforge.plantuml.command.regex.RegexComposed.matcher(RegexComposed.java:77)
	at net.sourceforge.pl

[2015-12-13 13:40] thorstenkampe opened #115 "`@startditaa` not recognized"
`@startditaa` is not recognized by plantuml4idea (`No @startuml found`). The diagram itself displays fine.

The PlantUML website says (http://de.plantuml.com/ditaa.html):
[code]

[2016-01-04 11:07] digiry commented on #99
This issue was resolved after PlantUML integration 1.8.

Thank you.

[2016-01-04 11:07] #99 closed

[2016-02-07 16:55] axd1967 opened #116 "activity(beta): text to arrows not visible in JetBrains plugin"
for
[code]
from [website](http://www.planttext.com/planttext):
![plug](http://www.plantuml.com/plantuml/img/SoWkIImgAStDuU82ixYuh39IStBohRcuqlABihbqxHHA3Asvh2egAg122edfYPbvN60P8w2OLMLb9P1ApKjH0Ei0cfDVmCNb01G06Gi0)

using PlantUML plugin (1.8.1):

![puml](https://cloud.githubusercontent.com/assets/3529789/12873677/fb60ea22-cdc3-11e5-8560-0ab70e2c0eeb.png)

[2016-02-17 13:24] axd1967 opened #117 "network dependency?"
it looks like the plugin connects to the Internet for each diagram generation... (at least, that's what I conclude from the perceived slow update, and the systematic network access peak in Windows Task Manager).

can the plugin be used without network connection? why does it need a connection?

[2016-02-17 14:02] krasa commented on #117
It should not do any networking, unless Graphviz does something strange... You could easily check which processes use your network in the Resource Monitor.

[2016-02-17 14:14] krasa commented on #116
Fixed.

[2016-02-17 14:14] #116 closed

[2016-02-17 14:16] krasa commented on #114
It should work now.

[2016-02-17 14:16] #114 closed

[2016-02-17 14:16] #113 closed

[2016-02-18 11:58] axd1967 commented on #117
close as non-issue: the network was part of the issue because of a link in a document that links to the plantuml proxy server.

[2016-02-18 12:12] #117 closed

[2016-04-04 18:12] pdelre opened #118 "ASCII Art"
It seems the project supports outputing to ascii art (<http://plantuml.com/ascii_art.html>). It would be a nice feature to be able to output the ascii art to file or to clipboard.

The primary use case would be for inclusion into markdown documentation without needing to keep png images.

[2016-05-05 11:30] tohagan commented on #92
Any progress on this?   I'm sure many people would love to use GraphViz in IDEA.

[2016-05-05 11:48] krasa commented on #92
Seems that plantuml devs missed my report...

[2016-05-05 15:18] wenerme commented on #92
Actually I always use startuml for graphviz now. like [![](http://plantuml.com/plantuml/svg/IybCBqeio51mLwZcIbJGjLD8uge50000)](http://plantuml.com/plantuml/uml/IybCBqeio51mLwZcIbJGjLD8uge50000)

[2016-05-05 15:24] wenerme opened #119 "Support generate platuml link"
Use platuml's server(http://plantuml.com/plantuml/uml/IybCBqeio51mLwZcIbJGjLD8uge50000) is very convenient.I always edit plantuml in idea, and copy paste to plantuml's server to generate the link, then change the png to svg, then use this link in markdown.

plantuml4idea can generate the svg ,png or form link will be very useful.

[2016-05-20 19:39] krasa commented on #115
fixed

[2016-05-20 19:39] #115 closed

[2016-05-20 19:40] krasa commented on #92
fixed

[2016-05-20 19:40] #92 closed

[2016-05-20 19:56] krasa commented on #109
iuml extension registered, but you will have to include in that file @startuml and @enduml, otherwise plauntuml library cannot validate it

[2016-05-20 19:56] #109 closed

[2016-05-20 19:58] #81 closed

[2016-05-20 19:59] krasa commented on #119
pull request welcomed

[2016-05-20 20:14] #118 closed

[2016-05-21 01:17] pouledodue opened #120 "Render only pages where code changed."
The issue:
Complex diagrams containing many pages are slow to render, because it seems all pages are rendered each time.
as a result: slow performance.

Possible improvement:
Render only pages where code changed.
(if nothing changed between two 'newpage' tag, don't re-render it, use previously rendered image.

[2016-05-21 03:50] krasa commented on #120
pages are already rendered only when changed, unless you switch to other image and then back,

[2016-05-21 10:50] krasa commented on #112
done.

[2016-05-21 10:50] #112 closed

[2016-05-21 22:05] krasa commented on #120
So I implemented it, and also some caching of images in general. The code is quite complex now, hopefully I did not broke it too much...

[2016-05-21 22:05] #120 closed

[2016-05-22 00:31] pouledodue commented on #120
Could you tell me how I can build a .jar with theses sources?

[2016-05-22 00:43] krasa commented on #120
- create project, import .iml file (I just pushed it)
- setup SDK - http://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/setting_up_environment.html - select installed IntelliJ for which you then select JDK.
- Build | Prepore Plugin module...

[2016-05-22 01:07] pouledodue commented on #120
ok trying that thanks

[2016-05-22 02:08] pouledodue commented on #120
compiled OK however when in Pycharm I get
 NoClassDefFoundError: net/sourceforge/plantuml/cucadiagram/dot/GraphvizUtils

[2016-05-22 02:14] krasa commented on #120
Looks like a missing library.
Did it generate a zip file?
And you installed that zip file?
And '.PyCharmXX\config\plugins\plantuml4idea\lib' contains plantuml4idea.jar and plantuml*.jar ?

[2016-05-22 02:20] pouledodue commented on #120
oops working now
I was loading the .jar not the entire .zip

[2016-05-22 02:40] tohagan commented on #92
Thanks!

[2016-05-22 03:16] pouledodue commented on #120
ok tested that. there is 2 bugs:
- Images are not rendered automatically. I have to click "Render PlantUML Diagram" to render an image.
- When I select a specific page in the "Select Page" Dropdown, I get "NullPointerException: null" in the Event Log. The image is not generated. If I click "Render PlantUML Diagram", the image appears.

[2016-05-22 07:10] krasa commented on #120
stacktrace?

[2016-05-22 07:34] pouledodue commented on #120
Pycharm 5.0.2 143.1184

null
java.lang.NullPointerException
	at org.plantuml.idea.toolwindow.PlantUmlLabel.setup(PlantUmlLabel.java:38)
	at org.plantuml.idea.toolwindow.PlantUmlLabel.<init>(PlantUmlLabel.java:28)
	at org.plantuml.idea.toolwindow.PlantUmlToolWindow.displayImage(PlantUmlToolWindow.java:235)
	at org.plantuml.idea.toolwindow.PlantUmlToolWindow.displayDiagram(PlantUmlToolWindow.java:22

[2016-05-22 09:15] krasa commented on #120
I was unable to reproduce it, but made some improvements, try it now please.

[2016-05-22 10:35] pouledodue commented on #120
ok testing it in 5 minutes

[2016-05-22 10:53] krasa commented on #120
BTW if included file contains  a newpage, then all pages will be always rendered. Maybe I will fix it...

[2016-05-22 10:53] pouledodue commented on #120
The 2 bugs are corrected. Works well now.

However, there is only a small adjustment left to fix:
If I two .puml documents open...
Say the first document has 17 pages and the second document has only 3 pages.
If I select the 16th page and then switch to the second document, I get a `java.lang.ArrayIndexOutOfBoundsException: 2` (possibly because the page 16 does not exist on the second document???)

[2016-05-22 11:10] krasa commented on #120
So that condition I deleted was needed after all... :)
Fixed.

[2016-05-22 12:17] pouledodue commented on #120
There is one bug left.
As soon there is a syntax error in my file, it seems to try to reprocess all my pages. So it takes like 1 minute to render each time I make a syntax error.

And  I got this at the same time:

trying to display null image. selectedPage=-1, nullPage=0, cacheItem=org.plantuml.idea.rendering.RenderCacheItem@640e6765[version=499,sourceFilePath=/Users/danielcyr/cyr/cyr/b/docs/uml/

[2016-05-22 12:21] pouledodue commented on #120
1 bug left:
As I soon as I have a Syntax Error in my file (example, while typing...), I get the "syntax error?" image, and then the problem: it seems to reprocess the complete document (so it takes like 1 minute).

Ans I got this error when it happens:

trying to display null image. selectedPage=-1, nullPage=0, cacheItem=org.plantuml.idea.rendering.RenderCacheItem@640e6765[version=499,sourceFilePa

[2016-05-22 14:23] krasa commented on #120
Reproduced and fixed.

But, wow, 1 minute?
Do you use links?
[code]
because SVG takes a lot of time, I could add a settings for disabling it...

[2016-05-22 14:43] pouledodue commented on #120
no links.
I still have the problem with your latest version:

(I type an incomplete syntax) --> (40 seconds of 100% CPU  Usage) --> (the image "..skipping 400 lines...blabla Syntax Error?" appears)

[2016-05-22 14:57] krasa commented on #120
please enable debug logs by adding '#org.plantuml' to [Help | Debug Log Settings] and send me the log.

[2016-05-22 15:12] krasa commented on #120
I disabled links, try it.

[2016-05-22 15:16] pouledodue commented on #120
here is the log
[idea.txt](https://github.com/esteinberg/plantuml4idea/files/276377/idea.txt)

[2016-05-22 15:27] krasa commented on #120
Looks correct, it rendered error - which itself is crazy slow, that is a problem of plantuml itself, and then you probably fixed it back so it had nothing to render and displayed all from cache.

[2016-05-22 15:44] krasa commented on #120
Btw what CPU do you have? Some 2 core?
I would recommend disabling editor syntax checking in settings.

[2016-05-22 15:49] pouledodue commented on #120
yes MBP core duo 2.26Ghz 2009

[2016-05-22 15:53] pouledodue commented on #120
yup tested plantuml in Terminal : 21 seconds to tell me there is a parse error. ugh

[2016-05-22 16:15] krasa commented on #120
You seriously need to upgrade...

Why do you even have such big document? Wouldn't it be better to split it or use some visual tool instead?

I don't see anything more to optimize now, unless I would start to save image to disk, so I can keep bigger cache... I bet your image must be killing the heap.

[2016-05-22 16:27] pouledodue commented on #120
it's just 17 small pages in one document.

[2016-05-22 16:28] pouledodue commented on #120
your plugin send each page separately to plantuml right?

[2016-05-22 16:43] krasa commented on #120
no, it takes the whole document, and I request rendering of specific pages by their index.

[2016-05-22 16:58] pouledodue commented on #120
ok that's consistent with the 22 seconds behavior.
Originally I thought that only the one modified 'newpage' section was sent each time, based on a checksum of that content. That would fix the 22 seconds problem

[2016-05-22 17:09] krasa commented on #120
That could be done, but e.g. sequence diagram would look totally different. Which diagram you use?

[2016-05-22 17:22] pouledodue commented on #120
Currently I use
-use cases
-class
-component

but I will use sequence too for sure.

I don't know for now how they will be affected, I did not test yet how they behave with 'newpage'..

[2016-05-22 17:25] pouledodue commented on #120
maybe the plugin could have a parameter to choose either the current "send whole+request index" rendering strategy or a new one thats sends each page's code separately to plantuml.

[2016-05-22 20:49] krasa commented on #120
Yep, you will be able to make a comment on the start e.g.
`idea.partialRender
`idea.disableSyntaxCheck

I saw an improvement from 30s to 3s by splitting it!

[2016-05-23 01:23] krasa commented on #120
Implemented, you can enable it by putting on the first page
`idea.partialRender`
`idea.disableSyntaxCheck`
as a comment with `'` or whatever

I have not seen such dramatic improvements with other diagram types, apart from when syntax is broken - I will report a bug on plantuml ...

For example http://pastebin.com/qA1TwsUA
- 4,5s to render normally -> 20s to syntax error image without error
- 6s re

[2016-05-23 09:15] bondden commented on #112
Thanks a lot! Waiting for the release!

[2016-05-23 13:22] pouledodue commented on #120
lightning faaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaast !

[2016-05-23 13:28] krasa commented on #112
You can try it now, it will need some testing before release... https://github.com/esteinberg/plantuml4idea/releases/download/2.0.0/plantuml4idea.zip

[2016-05-23 14:01] pouledodue commented on #120
There is a small issue with `scale`.
Here is how it is currently handled in:
1. plantuml
2. your plugin (old version)
3. your plugin (new lightning version)

1. plantuml:
using `scale 0.2` scales the page to 0.2

2. your plugin (old version)
In order to `scale 0.2` to work properly, on must add the `newpage` tag at top of a document

3. your plugin (new lightning version)
`scale 0.2` does not work

[2016-05-23 14:07] krasa commented on #120
Is it reported on plantuml tracker?

[2016-05-23 14:19] pouledodue commented on #120
isn't the bug in the plugin? `scale` is ok if I render the page in command line with plantuml 8041

[2016-05-23 14:30] krasa commented on #120
Hmm, I see, the problem is my plugin overrides the scale, when there is only one page.

[2016-05-23 14:39] krasa commented on #120
fixed

[2016-05-23 14:57] pouledodue commented on #120
Do you think it could remember the page it is on when switching between two .puml documents

[2016-05-23 15:10] krasa commented on #120
sure, do you want it to be remembered between restarts?

[2016-05-23 16:20] pouledodue commented on #120
would be a nice addition

[2016-05-23 18:41] krasa commented on #120
So plantuml made a fix, and 30s error render reduced to 100ms :-)

[2016-05-23 19:11] pouledodue commented on #120
great!

[2016-05-24 10:14] krasa opened #121 "Remember the selected page"
between switching documents and restarts

[2016-05-24 12:16] krasa commented on #120
please try the new version
https://github.com/esteinberg/plantuml4idea/releases/tag/2.0.0-SNAPSHOT

[2016-05-25 01:23] pouledodue commented on #120
seems to work great!

[2016-05-25 01:55] pouledodue opened #122 "Page title in dropdown"
join the title's of pages (when there is one) with the page number into the dropdown.

[2016-05-25 01:55] pouledodue commented on #122
if possible

[2016-06-02 18:08] mousashaya opened #123 "IntelliJ does not display the plantUML diagram"
Diagram not showing up in plantuml page in IntelliJ. I am running in Windows 7 Enterprise and I have installed Graphviz and added graphviz to path. I installed the plantUML plugin into ItelliJ. What else do I need to do?

I am using the default example:
@startuml

package "Some Group" {
HTTP - [First Component]
[Another Component]
}

package "Other Groups" {
FTP - [Second Component]

[First Compon

[2016-06-02 18:21] krasa commented on #123
Anything in the log?

[2016-06-02 19:11] mousashaya commented on #123
Thanks for pointing that out. Yes there are exceptions:
2016-06-02 15:08:11,827 [  12566]  ERROR - til.concurrency.QueueProcessor - net/sourceforge/plantuml/Scale
java.lang.NoClassDefFoundError: net/sourceforge/plantuml/Scale
	at org.plantuml.idea.lang.annotator.PlantUmlExternalAnnotator.doAnnotate(PlantUmlExternalAnnotator.java:46)
	at org.plantuml.idea.lang.annotator.PlantUmlExternalAnnotator.do

[2016-06-02 19:12] mousashaya commented on #123
Here is preamble I missed:
2016-06-02 15:08:09,666 [  10405]  ERROR - pplication.impl.LaterInvocator - IntelliJ IDEA 2016.1.2  Build #IU-145.972.3
2016-06-02 15:08:09,666 [  10405]  ERROR - pplication.impl.LaterInvocator - JDK: 1.8.0_92
2016-06-02 15:08:09,667 [  10406]  ERROR - pplication.impl.LaterInvocator - VM: Java HotSpot(TM) 64-Bit Server VM
2016-06-02 15:08:09,667 [  10406]  ERROR - pplica

[2016-06-02 19:59] krasa commented on #123
Looks like the plantuml library is missing, try reinstalling. If you are installing downloaded file manually, make sure to select the whole zip file.

[2016-06-03 10:54] mousashaya commented on #123
All set thanks for your help!

[2016-06-03 10:54] #123 closed

[2016-06-08 23:36] mark-anders opened #124 "touch scrolling doesn't work in PyCharm 2016.2 EAP"
What I'm calling "touch scrolling", where you don't click and drag but just use 2 fingers on the touchpad or lightly touch the mouse, does not work when used in PyCharm 2016.2 EAP, and possibly other .2 releases.  It DOES work in in PyCharm 2016.1, so something much have changed.

Currently, the only way to scroll is to actually click and drag, which is, pun intended, a drag. :-)

[2016-06-11 00:17] krasa commented on #124
Fixed.

[2016-06-11 00:17] #124 closed

[2016-06-11 01:33] mark-anders commented on #124
Thank you! I love the plug-in.

Mark

[2016-06-11 12:35] #121 closed

[2016-06-11 13:12] krasa commented on #119
http://plantuml.sourceforge.net/qa/?qa=4614/plantuml-server-integration-with-ide

[2016-06-11 15:24] #119 closed

[2016-06-11 22:25] krasa commented on #110
What exactly is the problem? It works fine for me.

[2016-06-11 22:34] krasa commented on #122
It would be probably possible, but hard, not sure if it's worth it.

[2016-06-11 22:37] pouledodue commented on #122
ok i can live without it.

[2016-06-12 23:53] krasa commented on #122
I found some APIs to get the title, so it should not be that hard.

[2016-06-13 08:23] #122 closed

[2016-06-13 10:25] corneil opened #125 "Terrible performance while typing"
Typing just has no effect for 2-3 seconds at a time.
I would expect the plugin to wait for save or a certain amount of time of no typing before updating the diagram.

[2016-06-13 13:34] krasa commented on #125
I have no idea what are you trying to say.

[2016-06-13 13:38] corneil commented on #125
As I type the text for a plantuml diagram sometimes the keystrokes are not
accepted for 2-3 seconds. It is not asif they keystrokes are buffered. The
keystrokes are just ignored.
It is work for the text after a : as in [Component[ --> myinterface : uses

I would expect the plugin to wait for a period of me not typing before
updating the diagram or until a save the file.

[image: --]
Corneil du Ple

[2016-06-13 13:43] krasa commented on #125
"eystrokes are not accepted for 2-3 seconds."
What does that mean? Do they not appear in the editor?

"I would expect the plugin to wait for a period of me not typing before
updating the diagram "
that is exactly what is happening, go to setting to increase the  delay time.

[2016-06-14 23:41] pouledodue commented on #122
small bug:
say I have a .puml doc with 7 pages.
If I replace the entire content of the doc with the content of another .puml document (by copy-paste),
the menu keeps dispaying the old content titles

[2016-06-15 00:02] pouledodue commented on #122
is it possible the bug is related to the line `idea.partialRender` ?
Seems to work better when I remove the line.
I need it though

[2016-06-15 00:07] krasa commented on #122
Yes, with 'idea.partialRender, only the selected page is parsed+rendered, so other pages might not have initialized title, or wrong one. I could parse all pages, but it would be a performance hit.

Without it, everything is always parsed, so it have right titles.

[2016-06-15 00:20] krasa commented on #122
You know what, I will try to fix it, to see how much slower it would get.

[2016-06-15 06:00] fktpp commented on #125
I got this issue too. the IDEA will be very slow to user input event when plantuml graph is big enough. I switch to eclipse plantuml plugin to aovid this issue. It seemed that eclipse plugin have this issue too, but the slowness is just a little bit better than IDEA one.

The user experience feels like the IDE was **hang** and **not response to user input** for a while, until graph preview was upd

[2016-06-15 07:52] krasa commented on #125
That's strange, because the rendering is done in background. What CPU do you have?
Does it hang when you increase the delay, so that it is not rendering anything?

Do you have some threaddumps in location like this? `.IntelliJIdea16\system\log\threadDumps-20160613-215318-IU-162.844.8\freeze-20160615-025052-2`

If not, you could add this to `<installation>/idea.properties`, to have them for GUI fre

[2016-06-15 12:46] krasa commented on #125
So I tried Eclipse, and it totally hangs because it does not render on background. But it also does not check syntax errors or highlights syntax or automatically render.

You can disable syntax check in settings - it is done in background, same as rendering, but that's together with GUI thread, in total 3 threads working parallely, so if you have only 2 cores it might cause trouble,
I will add a n

[2016-06-16 00:53] pouledodue commented on #122
works great!! many thanks, helps me a lot

[2016-06-16 01:49] krasa commented on #122
No problem. It's better this way, although it was pretty hard to do it right, after all. :)

[2016-06-16 02:12] krasa commented on #125
You can try it now https://github.com/esteinberg/plantuml4idea/releases/tag/2.2.0

[2016-06-17 03:55] fktpp commented on #125
Hello there, it feels the issue was fixed. I am not sure, but I can't reproduce it on IDEA2016.1 with plantuml4idea 2.2.

I've just reinstalled IDEA, this time it (the installer) provide me a choice to create 64bit launcher. Not sure if this makes difference.

I'am running 64bit launcher launched IDEA with plantuml4idea 2.2 very happy.

Thanks for the great plugin!!

[2016-06-17 07:58] krasa commented on #125
Maybe you just didn't have enough heap, and the hang was full GC?

[2016-06-29 09:06] chaudum opened #127 "Setting "Graphviz dot executable" is ignored"
Hi,
I'm using version 2.2.1 with IntelliJ 2016.1.3 on OSX.
PlantUML cannot find the `dot` executable although I've set the path in the settings to `/opt/local/bin/dot`. Seems that it still tries to use `/usr/bin/dot`.

<img width="913" alt="screen shot 2016-06-29 at 10 58 43" src="https://cloud.githubusercontent.com/assets/281260/16446691/22b36826-3de9-11e6-9c0c-5b1219e3a667.png">

[code]

[2016-06-29 09:21] chaudum commented on #127
In `1.9.0` the custom path is still taken into account.

[2016-06-29 12:18] sbhanderi opened #128 "IntelliJIDEA 2016.1.3"
Any ideas when this plugin will work with the latest version ?

[2016-06-29 12:39] krasa commented on #128
Why do you think it does not work?

[2016-06-29 13:55] sbhanderi commented on #128
2 issues occur.
When plantuml integration plugin is enabled, and graphiz points to the correct dot file, when I open up the idea, I get the exception as follows :+1:
Plugin 'PlantUML integration' failed to initialize and will be disabled.  Please restart IntelliJ IDEA.

java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
    at com.intellij.util.ReflectionUtil.newInstance(Refle

[2016-06-29 13:56] sbhanderi commented on #128
I don't see the same error in 13.1.7

[2016-06-29 14:25] sbhanderi commented on #128
I just deleted then reinstalled the whole IntelliIDEA application.
Seems to be OK now.
I did not install the "PlantUML Syntax Check" plugin this time, which I did previously.
So I can close this now.

[2016-06-29 14:25] #128 closed

[2016-07-01 21:36] arnaudroques commented on #127
As workaround, you can try to set up GRAPHVIZ_DOT environment variable to /opt/local/bin/dot
See http://plantuml.com/graphvizdot.html

[2016-07-01 21:44] krasa commented on #127
Probably plantuml OS specific issue, it works just fine for me on WIndows.

[2016-07-01 22:06] #125 closed

[2016-07-01 22:09] #127 closed

[2016-07-06 15:42] pdelre opened #129 ""Copy to ASCII" throwing Exceptions"
When trying to generate ASCII versions, Exceptions are thrown to the Event Log. Additionally, there's a typo where "ASII" should be "ASCII".

When selecting **Copy diagram(s) to clipboard as ASII**, it logs `RenderingCancelledException: java.lang.UnsupportedOperationException: ATXT`.

When selecting **Copy diagram(s) to clipboard as Unicode ASII**, it logs `RenderingCancelledException: java.lang.U

[2016-07-06 16:11] #129 closed

[2016-07-06 16:18] krasa commented on #129
Plantuml does not support ASCII for all diagram types, nothing I can do about that.
But I fixed the typo and a different exception. Thanks.

[2016-07-06 16:36] pdelre commented on #129
Fair enough. In that case it's more of a UX issue. Maybe the options should only appear if the diagram is supported. Or show a better message than the Exception in the Event Log.

[2016-07-06 17:00] krasa commented on #129
Better message would be doable, pull request welcomed. :)

[2016-07-20 17:29] BLaMure opened #130 "State Diagram Concurrent Nesting Broken - PlantUML Fix in Beta"
The State Diagram Concurrent Nesting is broken in the 8043/8405 plantuml.jar releases (likely previously, but this is when I discovered it).

They have a beta release that fixes this if you're interested in testing for the next official release:
[https://dl.dropboxusercontent.com/u/13064071/plantuml.jar](url)

Here's the UML that exercises the capabiliy:

[code]

[2016-08-30 07:53] dedeibel opened #131 "Default Shortcuts conflict with default system shortcuts"
Thanks for the great plugin - works nicely to generate the diagrams.

But there are shortcuts that conflict with default system shortcuts on my system, which is a little bit annoying and might be prevented.

Debian Linux on KDE but should be the same on most common WMs and also Windows.

I would expect Alt+F to open the File Menu Dropdown, this is quite Standard in most apps. But the plugin does b

[2016-08-30 08:22] krasa commented on #131
Perhaps ctrl+alt+shit+F and G (for reload) would be better.

[2016-09-01 15:17] eduardotomassi opened #132 "Diagram display crashes"
**When i open the diagram it crashes and does not display it.**
IntelliJ IDEA 2016.2.2
Build #IC-162.1628.40, built on August 16, 2016
JRE: 1.8.0_102-b14 amd64
JVM: Java HotSpot(TM) 64-Bit Server VM by Oracle Corporation

This is the stack trace:

Exception occurred rendering org.plantuml.idea.toolwindow.PlantUmlToolWindow$MyRenderCommand@5243ca59[reason=SOURCE_PAGE_ZOOM,sourceFilePath=*******.pum

[2016-09-01 15:27] krasa commented on #132
reinstall the plugin

[2016-09-01 16:04] #132 closed

[2016-09-19 15:07] cmoulliard opened #133 "Change Font color of a user / participant ?"
Can we change the font color of a user / participant ?

![screenshot 2016-09-19 17 06 08](https://cloud.githubusercontent.com/assets/463790/18637102/94656e00-7e8b-11e6-9976-3661617a1939.png)

[2016-11-06 07:16] noamtamim opened #134 "Please upgrade to PlantUML v8048/8049"
8048 does not require Graphviz, which means plugin installation is simpler. It also solves some bugs.

Is it possible to enter path to plantuml.jar?

[2016-11-06 09:04] noamtamim commented on #134
As a temporary workaround, I removed plantuml.8043.jar from the plugin's lib directory (on my Mac $HOME/Library/Application Support/IdeaIC2016.2/plantuml4idea/lib) and replaced it with the latest version.

[2016-11-09 06:52] RoopeshMajeti opened #135 "plantuml display crashes with NoClassDefFoundError"
i have installed PlantUML plugin into intellij ( tried with version 2.3.1 and 2.3.0 from https://plugins.jetbrains.com/plugin/7017 ). But when tried to bring up the diagrametric version of the uml file, it is crashing with the below error :

Exception occurred rendering org.plantuml.idea.toolwindow.PlantUmlToolWindow$MyRenderCommand@1e9316eb[reason=SOURCE_PAGE_ZOOM,sourceFilePath=/Users/majetir/co

[2016-11-09 17:35] krasa commented on #135
https://github.com/esteinberg/plantuml4idea/issues?utf8=%E2%9C%93&q=NoClassDefFoundError

[2016-12-02 11:22] manuc66 opened #136 "plantuml java.lang.NullPointerException when updatin the project"
Hi,

Today I got this error message when the underlying files have been modified and intellij is updating the project :

[code]
Thanks.

[2016-12-06 12:56] OllieJUK commented on #135
I made the mistake of extracting the zip file and choosing the plantuml4idea.jar which succeeded to install as a plugin but gave this error when opening files. Installing the plugin by selecting the whole zip file works.

[2016-12-07 08:42] marcelloh opened #137 "error installing on intellij 2016.3"
When trying to install the plugin from disk, intellij gives me an error after the installation, and disables the plugin again, due to the coccured error.

When trying to install from the intellij repository, I get an error as well (502), but I don;t know if that is because of me using a 2016.3 release and they block the download if the pluging for that release.

[2016-12-11 22:12] rkorrelboom commented on #134
Another option would be to be able to specify a custom location of the plantuml.jar in the plugin settings window

[2016-12-11 22:34] krasa commented on #134
Graphviz is still required. Why do you think it isn't?

[2016-12-11 22:43] #131 closed

[2016-12-11 22:43] #134 closed

[2016-12-11 22:43] #136 closed

[2016-12-11 22:47] krasa commented on #133
ask there: http://plantuml.sourceforge.net/qa/

[2016-12-11 22:47] #133 closed

[2016-12-11 22:53] krasa commented on #137
try it now

[2016-12-11 22:53] #137 closed

[2016-12-11 22:53] #130 closed

[2016-12-12 07:00] marcelloh commented on #137
Works :-) Thanks

[2016-12-28 17:02] idvorkin opened #138 "How do I use the plugin?"
* I'm new to plantuml and IntelliJ so please respond like I'm a total n00b :) *

I've installed the plugin and graphviz (via homebrew)  - however I can't figure out how to use the extension? I've tried adding some plantuml in a comment but nothing happens.

[code]

The readme mentioned you can check install correctness using the about box, how do I get to the about box.

[2016-12-28 17:57] esteinberg commented on #138
You need to create separate *.puml file. Just use File>New and in the dropdown you should see various types of UML diagrams available.

Once you create a file, you will see an example and rendering window called plantUML

[2016-12-28 18:49] krasa commented on #138
It actually works anywhere, but you must click inside on the plantuml code.

[2016-12-28 20:47] idvorkin commented on #138
Ahh, I missed the plantuml clicker on side tab.

![image](https://cloud.githubusercontent.com/assets/280981/21531313/c7b5516c-ccfb-11e6-8305-bf993b10e9a8.png)

[2016-12-28 20:47] #138 closed

[2017-01-09 08:41] markus-meisterernst opened #139 "Environment Variable Resolution is broken since Upgrade to IntelliJ 2016.3.2"
Hi,

in our team we recently chose PlantUML as our tool of choice. We resolve plantumls via Envrionment variable by defining a root variable SRC_HOME, so that every developer is free to choose the path to their respective project dir.

We have a global.puml that defines some Constants.
In a diagram X we import these Constants as such:

@startuml
!include %SRC_HOME%/docs/uml/global.puml
!include CM

[2017-01-09 08:51] krasa commented on #139
Have you tried command line on the one that is in ...\.IntelliJIdea16\config\plugins\plantuml4idea\lib
? Specifically plantuml.8051.jar  http://sourceforge.net/projects/plantuml/files/plantuml.8051.jar/download

[2017-01-09 09:09] krasa commented on #139
It works for me
![image](https://cloud.githubusercontent.com/assets/1160875/21761492/a12486c4-d653-11e6-8845-65bfdc7a8cbc.png)

Make sure to restart IJ after you set Envrionment variable.

[2017-01-09 11:02] markus-meisterernst commented on #139
Hi Vojtěch,

thx for your quick reply.
Based on your comment, I tried the following on the shell of my Mac (OS X, EL Capitan 10.11.6):

java -jar /Users/markus/Library/Application\ Support/IntelliJIdea2016.3/plantuml4idea/lib/plantuml.8051.jar compactsearch2.0.puml

and it worked.

could be that this is a Mac related problem, as my colleagues have the same issue (all on Macs).
I tried to set the E

[2017-01-09 11:34] krasa commented on #139
It looks like the env variable is not resolved correctly from IntellliJ VM.
You could try one thing, install https://plugins.jetbrains.com/idea/plugin/7282-liveplugin

and execute following script:
[code]
it would look like this, so you could check those variables of yours:
![image](https://cloud.githubusercontent.com/assets/1160875/21765180/86d21746-d667-11e6-9477-5ba2773f4ce0.png)

[2017-01-09 13:17] markus-meisterernst commented on #139
Hi Vojtěch,

armed with your information, the liveplugin and the following Link
https://emmanuelbernard.com/blog/2012/05/09/setting-global-variables-intellij/

I was able to proof that the variable was actually not set.

Furthermore I was able to actually set the variable using "launchctl" in a shell script to set the desired env variable EW_HOME.

So, I can happly close the ticket.

Thanks a lot

[2017-01-09 13:17] #139 closed

[2017-02-15 09:26] sledgeh opened #140 "Support `*.plantuml` by default"
Such verbose extension is more clear. And is used by other plantUML visualizers.

[2017-03-08 14:19] roipoussiere opened #141 "markdown integration"
It usually insert my UML diagrams in markdown files.

Any plan for a PlantUML integration in markdown files, using the current Markdown plugin?

Syntax suggestion:

[code]

which should display something like this:

![](http://i.imgur.com/yaALnUU.png)

The good point for this syntax is that it is compatible with other markdown editors (which should just display plantUML code in a code block).

[2017-03-08 14:41] krasa commented on #141
No. Markdown plugin must integrate it itself. It has nothing to do with this one.

[2017-03-08 14:41] #141 closed

[2017-03-08 14:43] krasa commented on #141
https://youtrack.jetbrains.com/issue/RUBY-19041

[2017-03-14 19:36] sledgeh opened #142 "Formulas. ASCII Math"
I tried:
[code]
but this won't render formulas.
Official documentation is on <http://plantuml.com/ascii-math>

Why this doesn't work? Old library? How to check included in plugin version?
May be setting **"Use system library `plantuml.jar`: </path/> or <search in $PATH>"** will help.
Thank you for attention.

[2017-03-14 22:09] qywx opened #143 "Ability to configure plantuml.jar like cmd line interface"
PlantUML has a nice [cmd-line interface](http://plantuml.com/command-line). Today i want to change style of all UMLs generated by this plugin, without necessary to write `!include my.style.puml` in src file. In cmd-line this is done like:
[code]
Links:
http://plantuml.com/command-line
http://plantuml.sourceforge.net/qa/?qa=5649/include-file-s-or-path-via-command-line

[2017-03-15 10:04] axd1967 opened #144 "newpage crash when exporting to external editor"
When a `.puml` file contains a `newpage` element, the preview pane correctly renders the separate pages.

however, when attempting to export to external editor (I only tested the option "Open in external editor as PNG diagram") I get

[code]

without `newpage` element, export works fine.

observed in

* Version: 2.4.0
* >PyCharm Community Edition 2016.3.1
Build #PC-163.9735.8, built on December 14

[2017-03-15 10:18] axd1967 opened #145 "annoyance: remember preview offset while editing file"
when I edit a large `.puml` file in PyCharm, I want PyCharm to remember my offset selection in the preview so that I don't have to scroll the preview pane every time.

this is especially needed when I use `newpage` elements.

note that this only happens when adding new lines, not when reorganising existing lines

[2017-03-18 15:10] aadrian opened #146 "New Version with PlantUML V2017.08 (21 Mar, 2017)"
Hi,

Any chance releasing a new version of your plug-in containing the latest PlantUML V2017.08 (21 Mar, 2017) http://plantuml.com/changes ?

Since v8053 quite a few features were added (besides bug fixing). E.g. quite useful:
 - Diagram Links http://plantuml.com/link
 - Timing Diagrams http://plantuml.com/timing-diagram
 - **ER Diagrams** https://github.com/plantuml/plantuml/pull/31

The latest o

[2017-03-18 15:24] aadrian opened #147 "Size on HiDPI Screens!"
The 1:1 zoom (default) display is not correct on HiDPI screens.
The same it's true for the Help content.

IMHO the plug-in should make use of the HiDPI hints it like the rest of the IDE and scale accordingly.

Thank you.

[2017-03-18 15:50] krasa commented on #147
Pull request welcomed.

[2017-03-29 20:19] VictorSago opened #149 "Doesn't seem to work with AndroidStudio"
I'm running AndroidStudio 2.3 on Ubuntu 14.04. Graphviz version 2.36 is installed and working, but PlantUML plugin crashes with NullPointerException as soon as I try to use it.

[2017-03-29 20:46] krasa commented on #149
stacktrace?

[2017-03-30 09:24] VictorSago commented on #149
Here's an excerpt from file `idea.log`:
2017-03-29 18:59:15,548 [ 131119]  ERROR - pplication.impl.LaterInvocator - null
java.lang.NullPointerException
	at org.plantuml.idea.toolwindow.Usage.<init>(Usage.java:32)
	at org.plantuml.idea.toolwindow.PlantUmlToolWindow.setupUI(PlantUmlToolWindow.java:104)
	at org.plantuml.idea.toolwindow.PlantUmlToolWindow.<init>(PlantUmlToolWindow.java:73)
	at org.pla

[2017-03-30 10:09] #149 closed

[2017-03-30 10:10] krasa commented on #149
Thanks, I will release it soon.

[2017-03-30 10:14] aadrian commented on #149
@krasa any chance merging PR https://github.com/esteinberg/plantuml4idea/pull/148 too before releasing?

[2017-03-30 10:29] #146 closed

[2017-03-30 10:38] krasa commented on #145
preview scroll position is remembered... you want to update it when adding new lines?

[2017-03-30 10:40] krasa commented on #144
OS?

[2017-03-30 10:51] #140 closed

[2017-03-30 11:07] krasa commented on #142
The last line of http://plantuml.com/ascii-math :

extract it to `.IntelliJIdeaXXX\config\plugins\plantuml4idea\lib`

[2017-03-30 12:07] Bagorolin opened #150 "exporting images as ascii or utf-* text does not represent the picture"
I wanted to test the feature to export pictures as text files (following called: acscii picture) and it was toatally different.
For example in a class diagram, when you turn off the attribute and method boxes they are still included in the ascii picture. Also arrows are drawn between two totaly different nodes. Not to mention that diagonal arrows aren't supported.
Can you bugfix and enhance this f

[2017-03-30 12:10] aadrian opened #151 "Format in the editor window!"
Please add "formatting" support for the editor area (CTRL+L).

Thank you.

[2017-03-30 12:18] krasa commented on #150
http://www.plantuml.com/plantuml/uml/ -> View as ASCII Art

is it the same as in IntelliJ?

[2017-03-30 12:27] axd1967 commented on #145
well, it is an extreme PITA, don't you think?

when you are busy adding lines, you want to see the result, but as those lines are somewhere at the bottom, the result cannot be seen until one scrolls down...

[2017-03-30 12:27] axd1967 commented on #144
W7

[2017-03-30 13:29] Bagorolin commented on #150
please check those basic examples:
[activity](http://www.plantuml.com/plantuml/uml/ROun3i8m40JxUyNgAa3A5r0Q2fw044MmBuf5V4Q-SoH-Jn9HqgrcfvZUVAZUyao7qn7ekZCuJ19UIFfkpdGTmVj4CYnIdyM4uPCeRVBz9lO0UwkAeZyX-OVtbsjJX9Bpe959PfC_-A8nZHjV2wWNZMlD5m00)
[usecase](http://www.plantuml.com/plantuml/uml/NL0nRiCm3DprYaEcUAY7Z1w2v079qcJhmjXih4Ac35CfylnGaf421GJnU3mUHHqqqP8UKt3TYRpWE4nUEf1MvBPNPQIHGVCSV4_9HsboEHSQv-nU

[2017-03-30 13:43] sledgeh commented on #142
@krasa, did not help.

What about

?

[2017-03-30 15:50] krasa commented on #150
Ok, so it is the same. Then I can't do anything. Report a bug on PlantUml itself.

[2017-03-30 15:50] #150 closed

[2017-03-30 15:52] krasa commented on #145
Pull request welcomed. Preferably with a configuration for disabling it.

[2017-03-30 16:14] krasa commented on #142
Did you restart IntelliJ?
![image](https://cloud.githubusercontent.com/assets/1160875/24513777/65359532-1572-11e7-8b34-edcc47dbda48.png)

That JS is probably used only for those `Standalone diagrams` - which is not supported in this plugin yet, but it needs those libs too, except batik.jar.

[2017-03-30 17:47] #144 closed

[2017-03-30 18:23] aadrian opened #152 "Add a build script!"
Please add build script to the plug-in, e.g. Gradle is a natural choice:
http://www.jetbrains.org/intellij/sdk/docs/tutorials/build_system/prerequisites.html

since it makes everything much easier.

Thank you.

[2017-04-02 09:26] sledgeh commented on #142
On windows extract [plantuml-jlatexmath.zip](https://www.dropbox.com/s/z7yah4mpi2mk1mj/plantuml-jlatexmath.zip?dl=0) to `%userprofile%\.IntelliJIdeaXXX\config\plugins\plantuml4idea\lib`, where `.IntelliJIdeaXXX` could be `.CLionXXXX.X` or PHPStorm or ...

Note: I recommend copy files when IDEa is closed.

[2017-04-02 09:26] #142 closed

[2017-04-05 16:41] axd1967 commented on #145
so you don't think it's a good idea?

[2017-04-05 16:42] axd1967 commented on #144
thx! as soon as it is released, I'll validate the change.

[2017-04-05 17:07] krasa commented on #145
It is a good idea, maybe too good... Configuration is really the easiest thing in this, so better safe than sorry.

[2017-04-05 17:38] krasa commented on #152
The current system seems to me pretty simple and easy.
![plantuml](https://cloud.githubusercontent.com/assets/1160875/24718610/f66fd85a-1a36-11e7-8180-59100603a740.gif)

[2017-04-05 17:54] aadrian commented on #152
Sorry but that's not really professional  :) :
 - it can't be done by a CI (e.g. Travis for free)
 - no tests can be run automatically (but the CI too for free)
 - builds are not reproducible, since depend on the IDE settings (and import).

The link I provided, is there recommended way by Jetbrains too, does all of the above, and also does not exclude manual debugging either, since IntelliJ will u

[2017-04-05 18:44] krasa commented on #152
Not even JetBrains uses it except for a few of plugins.
This plugin is many years older than the "recommended" way and there was never a need for migrating.

If you pull request it, then I will try it any maybe merge it.

[2017-04-05 20:51] #110 closed

[2017-04-12 15:02] alan-birchenough opened #153 "Excessive transition length when drawing internal transitions in composite states"
I realize this may be a dot / Graphviz issue, but I don't know where to start and it is happening in the context of the plugin so I decided to raise an issue here.

I am finding - without being aware of having made any config changes - that now when I code composite states, the internal transitions are being drawn enormously long.  I attach an example that is generated from the example code that y

[2017-04-12 22:16] krasa commented on #153
Source?
If it does the same on the demo page, or from command line, then it is not a plugin issue.

[2017-04-12 22:32] alan-birchenough commented on #153
The source that gave rise to that diagram is as follows.  When I paste this into the demo page it is drawn correctly.

@startuml
scale 350 width
[*] --> NotShooting

state NotShooting {
  [*] --> Idle
  Idle --> Configuring : EvConfig
  Configuring --> Idle : EvConfig
}

state Configuring {
  [*] --> NewValueSelection
  NewValueSelection --> NewValuePreview : EvNewValue
  NewValuePreview --> NewVa

[2017-04-12 22:34] krasa commented on #153
![image](https://cloud.githubusercontent.com/assets/1160875/24982274/fafd55be-1fe0-11e7-88e8-205b528289b7.png)

[2017-04-12 22:35] krasa commented on #153
Perhaps update Graphviz

[2017-04-12 22:42] alan-birchenough commented on #153
Sure.  I'll give it a try.

On Wed, Apr 12, 2017 at 5:35 PM, Vojtěch Krása <notifications@github.com>
wrote:

--

[2017-04-12 23:18] alan-birchenough commented on #153
Unfortunately I am already on the latest version.  Any suggestion on how to debug?  Thanks.

[2017-04-12 23:21] krasa commented on #153
Try command line http://plantuml.com/command-line

[2017-04-14 13:33] alan-birchenough commented on #153
I am investigating this, but it's not my top priority right now.  I should get to it in a few days.  Meanwhile, you could either leave this issue open for me to report back to one way or another - there could be some odd plugin involvement, the diagram seems to come out fine when drawn in any other context - or you could close it and I could raise another one if I find something concrete in terms

[2017-05-02 12:21] pdelre commented on #153
@alan-birchenough I had the same issue which came down to an issue with a recent version of  `graphviz`. I've since downgraded to `2.38.0` and the issue went away. I don't believe this is the plugin's issue.

<http://plantuml.sourceforge.net/qa/?qa=5425/relation-line-graphviz-when-using-labels-relations-namespace>

[2017-05-02 12:25] pdelre opened #154 "Update to V1.2017.12"
I'm eager to use some of their newest [Deployment Diagram][1] components, but I believe the version of the plugin needs to be updated in order to use it. Unless there is a way to update the plantuml version outside of the plugin.

[1]: http://plantuml.com/deployment-diagram

[2017-05-02 13:53] #154 closed

[2017-05-02 13:57] pdelre commented on #154
@krasa Thank you very much for publishing this so quickly! 🥇

[2017-05-04 10:41] alan-birchenough commented on #153
Thanks.  I'll try an earlier version of graphviz and see what happens.

On Tue, May 2, 2017 at 1:21 PM, Paul DelRe <notifications@github.com> wrote:

--

[2017-05-10 20:49] tshimomura opened #156 "The setting of the path to "dotExecutable" is not saved separately for each platform."
I use the IntelliJ with plantuml plugin on Windows and Linux.
And, I synchronize the settings of IntelliJ using "Settings repository" function.

Unfortunately, synchronizing settings registered from Linux to Windows, overwrite the path to "dotExecutable".

I want "plantuml.cfg" saved for each platform.

[2017-05-13 12:55] aadrian commented on #152
Not true. It's quite actual: https://github.com/JetBrains/gradle-intellij-plugin and many use it, and it simplifies the work allot, but also the contributions of others to your project.

Here https://github.com/esteinberg/plantuml4idea/pull/158 is the most minimal PR that works for building and running. As I described there, it could be further improved.

[2017-05-15 08:32] manuc66 opened #159 "Exception occurred in rendering with InterruptedException"
Hi,

I got the following error and you might be interested in:
``Exception occurred rendering org.plantuml.idea.toolwindow.PlantUmlToolWindow$MyRenderCommand@326839a5[reason=SOURCE_PAGE_ZOOM,sourceFilePath=C:/Sources/evs-phoenix-asset-api-model/src/usescases/IngestTrain2.puml,selectedDir=usescases,page=-1,zoom=100,cachedItem=org.plantuml.idea.rendering.RenderCacheItem@5d762ad[version=2369,source=@

[2017-05-15 09:34] johns-codings opened #160 "Group rendering not correct"
When using groups in the sequence diagram, the rendering of the group is done with a white background color for the whole group. This makes the diagram less readable.
When I have the same plant-uml diagram be rendered by the Atom plugin plantuml-viewer (https://github.com/markushedvall/plantuml-viewer), I get a better (cleaner) result.

I've added 2 different renderings of the same diagram to show

[2017-05-15 12:26] dkarlovi opened #161 "[Markdown] PlantUML blocks in Markdown previews"
[Gitlab supports having PlantUML blocks in Markdown](https://docs.gitlab.com/ee/administration/integration/plantuml.html#creating-diagrams). It would be a nice feature to allow rendering the blocks in Markdown previews.

Thanks.

[2017-05-15 13:10] aadrian commented on #161
I think this feature request should than go to the IntelliJ markdown plug-in.

[2017-05-15 13:42] dkarlovi commented on #161
I see, so they'd check if a PlantUML rendering service (or something, not a plugin-person) is available and then use it to render parts of it?

[2017-05-15 14:14] aadrian commented on #161
Yeah, something like that :). This is not the only way to integrate it however, since there also exists:
 - https://github.com/plantuml/plantuml-server (that you can host yourself, or the Markedown plug-in could start it)
 - http://www.plantuml.com/plantuml/ - the server from above hosted by PlantUML team itself - many tools simply talk to this "free" service
 - include the plantuml jar in the mar

[2017-05-15 14:21] dkarlovi commented on #161
I'll open a feature suggestion for the first one, linking here. Thanks for your help!

[2017-05-15 14:21] #161 closed

[2017-06-19 14:15] krasa commented on #160
Perhaps Atom uses some old version?

 http://www.plantuml.com/plantuml/uml/ZLF1Rjim3BthAuZq73HOXotDeUY61JqDBP3s0rIBReNOeYRAMVhtfMIbbPjqc0yMPJwIxptGwfgZ3d7eEwMYZHt2UgzxBoSvU0eqU32MVQTVbEAjTLu7tSDFsjzfOwnxWYyBfPj80MOFZ646cc6GG3tIVlm41dUsmHcSjT_QxsQff4MqZVNQHPZTRd89iQJpCqrlg4VuuNq6iVPmTdbnUT5yFO6Y-2p33bXAsBPTBXSBXSw0q54ZfzkCunUEsFDdh39cWs5N957aJzhbsMktiu5SZovAHzEYQPSdA5ODEIakMjuQZdxVf3SQOFmpe6jG9JzXV

[2017-06-24 19:20] pouledodue opened #162 "Deployment diagrams"
Would be great to have a release that supports Deployment diagrams new entities like 'stack'
http://plantuml.com/deployment-diagram
not an emergency though

[2017-06-26 02:54] tshimomura commented on #156
And, if "GRAPHVIZ_DOT" environment variable is set, I want it to be used preferentially.
see: http://plantuml.com/graphviz-dot

[2017-07-01 04:47] cholf opened #163 "Can multiple plantuml files be linked together? A lot of the time, the flow charts can be big?"
Can multiple plantuml files be linked together? A lot of the time, the flow charts can be big?

[2017-07-01 05:54] krasa commented on #163
@startuml
!include List.iuml
@enduml
?

[2017-07-09 09:29] cholf commented on #163
yeah,thanks.

[2017-07-28 12:14] #163 closed

[2017-08-03 13:40] zbstof opened #164 "NPE in PlantUmlExternalAnnotator.java"
I get this when I don't even open any plantuml files:
[code]

[2017-08-03 13:52] krasa commented on #164
and what kind of file was opened?

[2017-08-03 14:27] #159 closed

[2017-08-03 14:30] #164 closed

[2017-08-03 14:51] krasa opened #165 "PlantUmlIncludes#saveModifiedFiles broken"
IJ 2017.2.1
[code]

[2017-08-03 15:27] #165 closed

[2017-08-03 19:56] #111 closed

[2017-08-03 20:01] krasa commented on #160
Nothing I can do.

[2017-08-03 20:01] #160 closed

[2017-08-03 20:02] #153 closed

[2017-08-03 20:03] krasa commented on #162
it should work now.

[2017-08-03 20:03] #162 closed

[2017-08-03 22:04] binarytemple commented on #111
Ah sorry for delay in replying - I think my original goal was that you could open a project that just contained plantuml files, run rebuild project and it would rebuild all the png files - I guess I was just trying to remove the step of having to click on each file individually, choose export image and work ones way through the file save dialog.

[2017-08-03 22:31] krasa commented on #111
So what is the problem? You could probably make an indexer to keep track of all puml files in the project, subscribe to com.intellij.openapi.compiler.CompilerTopics#COMPILATION_STATUS and regenerate your images.

[2017-08-04 08:58] binarytemple commented on #111
Thanks Vojetch I'll give it a try. I'm not massively familiar with intellij
API.

On Thu, 3 Aug 2017, 23:31 Vojtěch Krása, <notifications@github.com> wrote:

[2017-08-27 10:50] comdiv opened #166 "Cannot use UTF-8 - add an option to plugin"
Plugin renders output with default system encoding - it's not well especially for windows.
Please add support to setup required encoding.
It has not "listen" to IDEA file encoding settings too.

[2017-08-31 10:57] peng051410 opened #167 "How to control class diagram line width"
@startuml

abstract class Subject
class ConcreteSubject

interface Observer
class ConcreteObserver

Subject <|-- ConcreteSubject
Observer <.. ConcreteObserver

Subject "持有" -left-* Observer
ConcreteObserver -right-o "subject" ConcreteSubject

@enduml

The result:

![image](https://user-images.githubusercontent.com/5512326/29920027-3071fad6-8e7e-11e7-94c6-2cacc8ec6684.png)

[2017-08-31 12:39] krasa commented on #167
PlantUML problem -> http://plantuml.sourceforge.net/qa/

[2017-08-31 12:39] #167 closed

[2017-09-14 12:41] dkarlovi commented on #161
Done at https://youtrack.jetbrains.com/issue/RUBY-19041 with only slight delay, in terms of how old the Universe is. :)

[2017-10-10 21:05] michaelrempel opened #168 "Install instructions fail"
The animated GIF flys by on my machine. Can you publish this as a proper video that I can at least stop to see what is going on.

Also the IDE has changed, so the current one is out of date.

[2017-11-02 18:48] noandor opened #169 "2 finger scrolling on touchpad no work"
2 finger scrolling on touchpad no work
pycharm ce 2017.2.4

[2017-11-27 14:11] nikhilw opened #170 "Request for plantuml version upgrade to 1.2017.19"
One of the features (at least) I have been looking forward to for some time has been 'Collections'. It is introduced in this version. Would it be possible to support this version in the plugin?

[2018-01-04 15:16] frankvanhest opened #171 "Layout split into multiple pages results in same class diagram in all the pages"
According to the manual on http://plantuml.com/class-diagram#layout it is possible to split up the class diagram into multiple pages. But the result is that the diagram is exactly the same on all the pages.
Here is the example used copied from the website:
[code]
The result is:
![screen shot 2018-01-04 at 16 13 29](https://user-images.githubusercontent.com/2206481/34569828-3f95a95a-f16a-11e7-8d4e-

[2018-01-30 20:11] alwyn opened #172 "Request: Can you please upgrade to plantuml 1.2018.1"
I have already tested it in intellij 2017.3 and all the sample diagrams work as expected.

[2018-01-30 20:14] alwyn commented on #152
Let me see.  You want to be able to automate the build.

Which to me means that you have much such significant changes that the normal plugin update process doesn't work.

How about you create the gradle script, contribute it and any changes you feel like?

[2018-01-31 12:36] aadrian commented on #152
@alwyn I already done that almost a year ago and contributed the PR https://github.com/esteinberg/plantuml4idea/pull/158 but it was not merged to this day :)

[2018-01-31 13:59] mgrolinger commented on #172
Same here. I dropped the new jar into the lib folder. It appears to be working. Please, I also would like to receive an update to the new 1.2018.1 version.

[2018-01-31 14:01] mgrolinger commented on #170
Hi,

there is a new request for the new 1.2018.1 version. In the meantime, you may just switch the plantuml jar to the new version in your Intellij plugins folder. That works for me.

BR,
Michael

[2018-01-31 14:20] mgrolinger commented on #171
Hi,

that is IMHO a bug that is not connected to the underlaying plantuml.jar. The feature "newpage" works fine, but the "page" feature does not. If you use the stand-alone gui from the plantuml.jar 4 separate images are generated from your example. In general, paging works only for PNG not for SVG.

BR,
Michael

[2018-01-31 14:46] #170 closed

[2018-01-31 14:59] krasa commented on #172
Done

[2018-01-31 14:59] #172 closed

[2018-01-31 18:10] krasa commented on #152
Imho it is not clear whether the gradle build actually helps more than it hurts, disregarding those long hours to make it actually somehow nice.

First opening of a gradle project takes me 7 minutes
- 6:30 to download gradle, dependencies and sources
- another 30s to index it

Check it for yourself: https://github.com/esteinberg/plantuml4idea/tree/gradle

Opening and manually setting and debugging

[2018-02-01 07:45] frankvanhest commented on #171
Hi Michael,

Thanks for your reply. The stand-alone gui does work fine. It would be great although if the expected result would show within PhpStorm.

Cheers,

Frank

[2018-02-13 09:45] emcek opened #173 "NullPointerException in 181.3494.20"
[code]
[code]

[2018-02-20 12:41] noamtamim opened #174 "Use the filename from "@startuml name" when exporting multiple diagrams"
When I create diagrams using plantuml.jar directly,
`$ plantuml file.puml`

And the diagrams in the file define the diagram name:
`@startuml myFirstDiagram`
The exported files use this name instead of file-001 etc.

The plugin does not do it, even though it uses the same version of PlantUML (1.2018.01).

[2018-02-22 08:48] Varadski opened #175 "Class relation and cardinality labels not visible"
The labels and cardinality visible on [this](goo.gl/nWE3B9) diagram are not visible in Intellij for me, but they are visible when I post the code your website (as clearly visible in the linked diagram). Any ideas why this is not working? I have graphviz-2.38.0 installed (the latest stable version) and [here's](i.imgur.com/6T3xX68.png) the PlantUml version information.

Here's what the actual diagr

[2018-02-23 08:48] chrismelikian opened #176 "Update diagram with cursor position"
Not a bug but a feature request...

In tricky diagrams, sometimes it's not easy to know where you are in the file. It would be nice to have a 'Track cursor' feature that would update the diagram and highlight the part of the diagram where your cursor currently is. This feature could get annoying so some sort of checkbox to enable/disable would probably be needed.

Either that or have the crosshair

[2018-03-27 11:55] matthewadams opened #177 "Use PlantUML 1.2018.2"
Latest version of PlantUML as of this writing is 1.2018.2.  Please update to new version & release a new plugin.

Bonus points for automating this process.

[2018-03-28 14:59] Varadski commented on #175
![buildingmanagementdiagram](https://user-images.githubusercontent.com/36164099/38037311-e4053774-32a8-11e8-827c-b81b29398ceb.png)

I assume this is a related issue, hence why I'm posting it here. The diagram does display [on the website](http://www.plantuml.com/plantuml/png/RLB1Rjim3BthAxZqu0HmcdjW6Cs25HZGeiFQUw78h2D4bZn9JXiK_VTHicndMNA8IRv7FlhHTyvpwxj6iMyLlacDyC9t2kUQDvXNwCG2XEBEGIW0Tp0BnHaK1SnV

[2018-04-10 09:07] kemza opened #179 "Better PlantUML syntax highlighting"
I moved from Visual Studio Code to Goland. I very often work with PlantUML Activity diagram. Unfortunately, I lack smart syntax highlighting of PlantUML files from Visual Studio Code.
Is possible to improve syntax highlighting according to project vscode-plantuml (https://github.com/qjebbs/vscode-plantuml)?

Many Thanks

Lubor

[2018-04-21 00:54] mutoo opened #180 "Autocomplete for participants in Sequence Diagram"
During the editing of the sequence diagram, there are so many repetitions of typing the same name of participants. It would be better if there is an autocomplete option for those participants name.

[2018-05-03 13:13] merzedes opened #181 "PlantUML IDEA PLugin Let IDEA Hang"
After having installed PLantUML 2.10.1 on IDEA 2018.1.1, Intellij hangs during startup and also on shutdown. Having disabled PlantUML, all works fine i.e. Intellij behaves normally.

"Hang" means that it takes a couple of minutes before IDEA returns. During the hang I encouter a window frame with no content.

It looks like a proxy problem. However, IDEA proxy settings are ok and I can reach www.go

[2018-05-03 13:42] krasa commented on #181
need a thread dump, look into C:\Users\xxx\.<<<IdeaIC2018.1>>>\system\log, if the gui hangs, it should be generated

[2018-05-06 12:20] merzedes commented on #181
Hi,

will check again. Disabled PlantUML for the moment (sadly). However, I
believe it's an issue with Windows Defender / Virus scanner.

Stay tuned.

// Wolfgang

On Thu, May 3, 2018 at 3:42 PM, Vojtěch Krása <notifications@github.com>
wrote:

--
Wolfgang Häfelinger

[2018-05-22 12:05] KirillAmurskiy opened #182 "Troubles with Scaling layout"
If I scale my desktop layout (150% for example). Plagin draws bad.
See artefacts in screenshots.
Windows 10 Pro. Rider 2018.1.

<img width="599" alt="screenshot_4" src="https://user-images.githubusercontent.com/5471833/40361217-3e02a40c-5dd1-11e8-867b-15764c1b5b22.png">
<img width="797" alt="screenshot_1" src="https://user-images.githubusercontent.com/5471833/40360996-8ca3acc4-5dd0-11e8-93b6-bf600

[2018-06-01 09:08] JeromePuttemans opened #183 "no @Staruml found on saving png or svg"
Hello, I'm using the plugin ver 2.10.1 in webstorm 2017.2.3 with windows 10
I tried to save one of my file as a png and I often have a "no @Staruml found" in place of the image.

I dont'know where the problem is comming from...

Thank you for the plugin :-)

java.lang.NullPointerException
	at net.sourceforge.plantuml.SourceStringReader.generateImage(SourceStringReader.java:140)
	at org.plantuml.id

[2018-06-27 11:02] aadrian commented on #179
@kemza https://github.com/kiebor/PlantUml-Language-Service  - a better version of that plug-in.

[2018-07-06 13:24] kannanekanath opened #184 "Component Diagrams not working"
I am using the 2.10.1 version of the Plugin and the following simple three line component diagram does not render properly.

[code]

Other type of diagrams appear to be working okay. For example
[code]

So I know that the plugin is in fact setup properly. Is it because the plugin has to be upgraded to the latest version of PlantUML?

[2018-07-09 12:16] AlexBaitov commented on #184
I have downloaded the latest version of Plantuml from the official site http://plantuml.com/download (it is plantuml.1.2018.8.jar).
Put it nearby plantuml.1.2018.1.jar in ~/.IntelliJIdea2018.2/config/plugins/plantuml4idea/lib.
Restarted Idea
And it failed to render almost the same way, but version of plantuml was 1.2018.1 and became 1.2018.8
![plantuml_1 2018 8_fail](https://user-images.githubuser

[2018-07-09 13:40] krasa commented on #184
does it work from the command line?

[2018-08-14 07:43] HEffatpanah opened #185 "How to enable Code Completion for PlantUML in Clion?"
when I use plantuml in clion the ctrl + space manually is working but I want to enable  Code Completion automatically. Do you have any idea?

[2018-08-20 14:37] matthewadams opened #186 "Use plantuml 1.2018.9 (or is this a dead project?)"
https://github.com/esteinberg/plantuml4idea/issues/177 has been sitting there a while, no traction.

Please update the plugin to use plantuml.1.2018.9.jar.

There hasn't been a commit to `master` in over a year, as of this writing.

[2018-08-20 16:24] #184 closed, assigned to nobody

[2018-08-20 16:27] krasa commented on #173
Duplicates #183

[2018-08-20 16:27] #173 closed

[2018-09-11 14:13] antosha4e opened #187 "NPE: cant save image, because of error"
**Stacktrace in IDEA:**
`java.lang.NullPointerException
	at net.sourceforge.plantuml.SourceStringReader.generateImage(SourceStringReader.java:140)
	at org.plantuml.idea.rendering.PlantUmlNormalRenderer.renderAndSave(PlantUmlNormalRenderer.java:54)
	at org.plantuml.idea.rendering.PlantUmlRenderer.renderAndSave(PlantUmlRenderer.java:47)
	at org.plantuml.idea.action.AbstractSaveDiagramAction.actionPe

[2018-10-02 10:58] matozoid opened #188 "Exception that occurs sometimes"
I think it sometimes happens when an @enduml tag is missing.
[code]

[2018-10-02 11:00] matozoid opened #189 "Odd highlighting of @enduml"
@startuml is one color, @enduml is two - the @ is black.

Cool plugin, by the way!

[2018-10-10 13:09] 62mkv opened #190 "upgrade PlantUML Library to 2018.11 version"
hopefully it will provide Deployment Diagram functionality, listed as BETA currently on the website

[2018-10-10 17:34] #190 closed

[2018-10-10 18:05] #187 closed

[2018-10-10 18:57] #183 closed

[2018-10-10 19:11] krasa commented on #175
Cannot reproduce, if you do not post the whole code.
Check if the command line behaves the same as IntelliJ.

[2018-10-10 19:11] #175 closed

[2018-10-10 21:35] krasa commented on #188
PlantUML bug.  http://forum.plantuml.net/8363/illegalargumentexception-linelocationimpl-linelocationimpl

[2018-10-10 21:35] #188 closed

[2018-10-12 07:03] weedySeaDragon opened #193 "!include no longer working with v. 2.12"
After updating to v 2.12, the `!include` directive no longer works.
I get the error `Cannot include <the file name>`

Worked just fine before the update.

[2018-10-12 07:11] krasa commented on #193
Well, that sucks.
http://forum.plantuml.net/8338/latest-plantuml-version-1-2018-11-cannot-include-with-pipe?show=8338#q8338

[2018-10-12 08:09] weedySeaDragon commented on #193
FYI: The current plantuml.jar works with the `!include` when I run it from the command line.  (I'm not piping anything.)

[2018-10-12 08:51] weedySeaDragon commented on #193
The fix worked.  Thanks for the screaming-fast turnaround! 👍 👍 👍

(FYI I'm working on documentation for PlantUML because it's _really_ needed.  I'll publish it out on Read The Docs when I have enough of it ready.)

[2018-10-23 14:10] lours1 opened #194 "Zoom not working"
Hello,
i'm using your plugin with the latest version of intelllij and ubuntu 18.04
And the click on the zoom button have no effect (no zoom in or zoom out), but the image is regenerate.

Thank you for your help

Cédric

[2018-10-24 08:00] ancasicolica opened #195 "MD File support"
I would appreciate it if the PlantUML rendering would also support MD-Files (the PlantUML part of course only) as used in GitLab: https://docs.gitlab.com/ee/administration/integration/plantuml.html#creating-diagrams

[2018-10-31 20:36] pouledodue opened #196 "Don't scroll to top on syntax error"
Long document, multiple pages, preview dropdown is set to `All Pages`

Say I am currently editing and the preview is scrolled down

If I type something wrong I get a Syntax Error

Problem is, once I fix the syntax error, the preview scrollsTo(0)

Would be great if preview would not scroll to top in this situation

[2018-11-26 02:59] paulvi opened #198 "When installing from IDEA, IDE has no link to this GitHub repo"
When installing from IDEA, IDE has no link to this GitHub repo.

I wonder what history file is displayed by IDEA...

[2018-11-26 12:02] jo-as opened #199 "Plugin does not work together with RST-files"
When using plantuml-snippets inside RST-files (ReStructuredText), the plugin does not render it..
It might be linked to the fact, hat PyCharm itself is parsing RST-files, but is not able to interprete the uml-keywords..

[2018-12-03 10:49] Muldec opened #200 "Plugin fails when rendering state diagrams"
When trying to render a State Diagram, the plugin fails to render with the following error:

[code]

using this code to test:

[code]

[2018-12-11 09:59] remcoboerma opened #201 "add more preprocessor support"
Hi,
It would be great for my case to have some heavy pre-processing on the plantuml code before it's handed over the plantuml "binary".
A change so rendering is done on a webserver would be great as well, i'll add the pre-processing on the webserver but have the plugin display the digram with the same smoothness as it has now.

I'm not a java programmer so i can't help you there.

[2019-01-07 22:41] mhailstone opened #202 "@startgantt"
Is `@startgantt` supported? If not, do you have plans to support it in the future?
http://plantuml.com/gantt-diagram

[2019-01-10 22:38] monocongo opened #203 "Generation of PlantUML input for a sequence diagram describing a Python script?"
Can this plugin generate PlantUML input from Python code? For example is there a way to run my Python code and have it generate a PlantUML input file that produces a sequence diagram when rendered by PlantUML? I have Python code that contains numerous steps and I'd like to automate the creation of an input file for PlantUML in order to generate a sequence diagram that describes the multiple steps

[2019-01-11 07:38] Sigurs opened #204 "Setting for PLANTUML_LIMIT_SIZE"
Settings page needs an option to set the PLANTUML_LIMIT_SIZE variable to be able to create large diagrams.

To quote PlantUML FAQ ( [http://plantuml.com/faq](http://plantuml.com/faq) ):

set PLANTUML_LIMIT_SIZE=8192 or setenv PLANTUML_LIMIT_SIZE 8192
Another way is an option in the command line:
java -DPLANTUML_LIMIT_SIZE=8192 -jar /path/to/plantuml.jar ...
Note that if you generate very big diagr

[2019-01-14 10:22] agicquel commented on #200
Same issue here o/

[2019-01-14 14:14] nathanmbrown opened #205 "Sequence diagrams : allow to freeze the header if scrolled down"
Always show the top x pixels of the header if the main view is scrolled downwards so you don't lose the participants off the top of the screen.

[2019-01-15 13:02] agicquel commented on #200
Resolved for me, It was a problem with GraphViz 👍

[2019-01-29 09:40] aadrian opened #207 "Release supporting PlantUML 1.2019.0 !"
Please create a release supporting PlantUML 1.2019.0 (since quite a few rendering issues have been fixed)

Thanks in advance.

[2019-02-03 17:33] mattbishop commented on #147
The behavior seems to be fine on my HiDPI screen. I have two--built-in macbook pro display, and external LG monitor. The images scale as expected and are high-resolution.

[2019-02-03 19:08] aadrian commented on #147
@mattbishop as you can see, this issue was raised in 2017.  At that time the rendering was looking ugly on all 3 major OSes. Now the only one that still has rendering issues is Linux.

[2019-02-06 09:35] pouledodue opened #208 "Add a button+keyboard shortcut for "Automatically Render""
Add a button+keyboard shortcut for "Automatically Render"

Currently, "Automatically Render" is in the settings menu.

I check/uncheck it quite a lot when working on big diagrams and I'd like to be able to toggle it via its own icon+keyboard shortcut

[2019-02-06 13:41] qwazer opened #209 "Ability to use beta version of PlantUML. Customize version of plantuml library"
It'll be nice to have the ability to customize version of plantuml library and use beta version of plantuml.
Why?
 * Beta version of PlantUML have new interesting features like http://plantuml.com/nwdiag
 * Also, it will save the project from a lot of issues like #190, #146  etc

[2019-02-06 16:20] krasa commented on #208
You can set your own shortcut.

[2019-02-06 16:23] #198 closed

[2019-02-06 17:12] #208 closed

[2019-02-06 17:12] pouledodue commented on #208
beautiful

[2019-02-12 09:37] marcschumacher commented on #207
You can use #210 to even upgrade to 2019.1.

[2019-02-21 20:50] aadrian commented on #202
https://github.com/esteinberg/plantuml4idea/blob/9f65501c3035e31ebb454370e38283b71ee027ad/src/org/plantuml/idea/plantuml/PlantUml.java#L53  seems to restrict the type of diagrams supported - these values does not seem to be red from plantuml itself, but hardocded :( .

[2019-03-07 17:48] linux-china opened #212 "MindMap diagram support?"
Mindmap diagram has been supported on 2019.1    http://plantuml.com/mindmap-diagram

[code]

[2019-03-15 07:49] blademainer commented on #212
+1

[2019-03-29 16:41] anders opened #213 "PlantUML view scaling on 125% DPI looks bad (Windows 10)"
Hi, I couldn't find a similar issue so I hope this hasn't been reported before.

The PlantUML view looks bad on Windows 10 with 125% DPI set (Settings -> Display -> Scale and layout -> 125%). A screenshot is worth a thousand words:

![screenshot of broken DPI](https://i.imgur.com/2jRAaNV.png)

I tried to investigate this myself by cloning this repository, then run the plugin via Run configurations

[2019-03-29 17:25] krasa commented on #213
Same here. Really strange.
If you save the image to the disk, then it looks fine, so it must be only the displaying that is broken.

[2019-03-29 17:44] krasa commented on #213
You can debug it if you use Jetbrains JDK - https://bintray.com/jetbrains/intellij-jdk/openjdk11-windows-x64#files -> jbrsdk-11-windows-x64-b96.tar.gz

[2019-03-29 20:07] #213 closed

[2019-03-29 20:26] #200 closed

[2019-03-29 20:28] krasa commented on #182
Should be solved by #213

[2019-03-29 20:28] #182 closed

[2019-03-29 20:30] krasa commented on #147
Should be solved by #213

[2019-03-29 20:30] #147 closed

[2019-03-29 20:32] krasa commented on #203
It cannot generate any PlantUML code and will not without a pull request.

[2019-03-29 20:32] #203 closed

[2019-03-29 20:33] krasa commented on #209
Well, you can always download and replace it manually.

[2019-03-29 20:34] #202 closed

[2019-03-29 20:37] krasa commented on #194
Can anyone with Ubuntu provide a fix?

[2019-03-29 20:39] krasa commented on #212
It should work, just not in java comments.
https://github.com/esteinberg/plantuml4idea/blob/80ffda94fd25da047c067dd3cf4dc5f66e77bc7c/src/org/plantuml/idea/plantuml/PlantUml.java#L107

[2019-03-29 20:39] #212 closed

[2019-03-29 20:45] krasa commented on #204
Probably the best is to just edit IntelliJ VM settings, because you need to do that for Xmx anyway.

[2019-03-29 20:51] krasa commented on #207
Done in the next version

[2019-03-29 20:51] #207 closed

[2019-03-29 20:53] krasa commented on #195
Doesn't Markdown plugin already do that?

[2019-03-29 21:24] krasa commented on #156
The second request done.

[2019-03-29 21:29] krasa commented on #199
example of such file?

[2019-03-29 21:30] krasa commented on #201
Still need it? And what kind of preprocessing are you doing?

[2019-03-29 22:41] anders commented on #213
It looks a lot better now, thanks! The image is still scaled but not horrible to look at anymore.

[2019-03-29 23:37] krasa commented on #194
Oh, it does not zoom only for State diagram. That changes things.

[2019-03-29 23:50] krasa commented on #213
I'll fix it more...

[2019-03-30 00:03] krasa commented on #213
There is only a small problem now, copy to clipboard is broken with Jetbrains JRE
https://youtrack.jetbrains.com/issue/JBR-1326

[2019-03-30 01:08] krasa commented on #194
Nope, I just had an example with a manually defined scale. Isn't that your issue too?  @lours1

[2019-03-30 02:28] #196 closed

[2019-03-30 03:25] paulvi commented on #195
no

[2019-03-30 08:27] krasa commented on #195
And it has to be
[code]
not
[code]
?

[2019-03-31 00:19] krasa commented on #176
Not feasible imho.

[2019-03-31 06:17] lours1 commented on #194
hello
yes,
if i disable the defined scale; it's work.

Than you for yout test

On Sat, 30 Mar 2019 at 02:08, Vojtěch Krása <notifications@github.com>
wrote:

[2019-03-31 07:33] ancasicolica commented on #195
Tried it, it works both ways

![image](https://user-images.githubusercontent.com/7976812/55286131-e5ad0780-5397-11e9-9510-b7d6ae7197dc.png)

[2019-03-31 08:10] krasa commented on #195
Problem solved :)

[2019-03-31 09:46] #194 closed

[2019-03-31 14:57] #185 closed

[2019-03-31 15:00] krasa commented on #180
Maybe #185 will be enough? Or you want some better autocomplete suggestions than with ctrl+space?

[2019-03-31 15:03] krasa commented on #145
I think it is solved by #196

[2019-03-31 15:03] #145 closed

[2019-03-31 15:04] #66 closed

[2019-03-31 15:06] krasa commented on #171
http://forum.plantuml.net/9285/layout-split-does-using-sourcestringreader%23outputimage

[2019-04-01 17:30] #143 closed

[2019-04-01 17:30] #166 closed

[2019-04-01 19:53] #180 closed

[2019-04-01 19:54] #195 closed

[2019-04-01 20:17] #174 closed

[2019-04-02 07:08] noamtamim commented on #174
@krasa thank you for implementing this!

[2019-04-02 07:32] krasa commented on #156
And regarding the first one. I don't think that it is necessary, just use a system variable.

[2019-04-02 07:32] #156 closed

[2019-04-02 09:25] krasa commented on #101
https://youtrack.jetbrains.com/issue/IDEA-112124

[2019-04-02 09:25] #101 closed

[2019-04-02 10:06] krasa commented on #151
Not feasible.
There is no usable external formatter.
And custom implementation depends on #17

[2019-04-02 10:06] #151 closed

[2019-04-02 10:09] krasa commented on #176
#196 should be enough, unless someone has an idea how to implement this.

[2019-04-02 10:09] #176 closed

[2019-04-03 06:54] paulvi opened #215 "Issues for diagrams within Markdnown (ref #195)"
Markdown support #195 cannot be closed,
as there are some issues:

- when markdownfile has several diagrams,
only one is displayed, and it is  selected random, or by unknown logic.

Markdnown
![image](https://user-images.githubusercontent.com/1614482/55458566-de982a80-561f-11e9-8efc-aba7e42e65f4.png)

Source example

Sequence diagram

[code]

    Component diagram within @startuml/@enduml

[code]

[2019-04-03 06:58] paulvi commented on #174
It would be nice to mention this feature in README or wiki

[2019-04-03 07:06] krasa commented on #215
Caret position defines which diagram is displayed.
The diagram must have start/end tag.

[2019-04-03 07:15] paulvi commented on #215
1. Caret position does not matter IDEA CE 2018.3.6
(I put it on other line and press within PlantUML view refresh or reload icon)

2. Adding @startuml to first sequence diagram, does not make appear

[2019-04-03 07:21] paulvi commented on #215
OK, confirmed:

Diagram must have `@startuml` and `@enduml`, then when caret is on it, it will be shown in PlantUML view

[2019-04-03 07:21] #215 closed

[2019-04-03 07:24] paulvi commented on #195
Every diagram must be with `@startuml` and `@enduml`

    Sequence diagram

[code]

    Component diagram within @startuml/@enduml

[code]

    Component diagram

[code]

[2019-04-03 07:27] krasa commented on #195
first lines of the instructions:
- Open file, put the cursor inside of PlantUML code to render it
- PlantUML code must be inside @startuml and @enduml tags to be rendered
:)

[2019-04-03 12:27] krasa commented on #168
[gif](https://user-images.githubusercontent.com/1160875/55478653-7dbb2300-561c-11e9-8a58-66f5a66b5dc1.gif)

[mp4](https://mega.nz/#!66oTUIgA!ckkAdLZNHtXjIwyoSlN6BwA-vEWh_034vTRqtWZr9AM)

[2019-04-03 12:27] #168 closed

[2019-04-04 03:49] aristotll opened #216 "Create new Plantuml file conflicts with html after update when use ctrl - enter to new file."
[code]

[2019-04-04 03:49] aristotll commented on #216
Downgrading solves my problem currently.

[2019-04-04 06:35] krasa commented on #216
Oops, please try the new version.

[2019-04-04 06:38] #216 closed

[2019-04-04 07:21] #97 closed

[2019-04-04 07:37] #189 closed

[2019-04-11 14:20] slickmb opened #217 "Copy to clipboard generates blank image"
Installed new version from scratch on a new machine and am finding that when I click the "Copy Current Diagram to Clipboard" button that I get a blank image in my clipboard.  The image is the right dimensions, but completely blank.

Notes:

- PlantUML version 2.13.12
- WebStorm 2019.1 Build #WS-191.6183.63, built on March 21, 2019
   JRE: 1.8.0_202-release-1483-b39 x86_64
   JVM: OpenJDK 64-Bit Se

[2019-04-11 14:25] slickmb commented on #217
Manually downgrading the plugin to 2.12.1 seems to resolve the issue.

[2019-04-11 14:29] krasa commented on #217
Do you have retina or some scaling enabled?
It is probably related to this https://youtrack.jetbrains.com/issue/JBR-1326
I will have to make some workaround

[2019-04-11 14:43] pJunger commented on #199
I think any file will do, e.g. a 'test.rst' with such a content:
`Test
=======

@startuml
UI -> Mod : update()
Mod --> UI
@enduml
`

[2019-04-11 15:03] slickmb commented on #217
I do have a retina display.  Scale was set to 1:1.

[2019-04-11 15:25] krasa commented on #217
Please try this: [plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/3069371/plantuml4idea.zip)
(simply dragging the file into the editor should install it)

[2019-04-11 15:52] #199 closed

[2019-04-22 20:22] studgeek opened #218 "Automatically render when returning to file if included files are changed (don't use cache)"
I am seeing the following if main.puml depends on include.puml:
1. open main.puml
  a) main.puml rendered automatically
2. open, edit, and save include.puml
  a) include.puml rendered automatically
3. return to main.puml
  a) main.puml is cached so it does not re-render and changes to include.puml are not shown

In 3a I would expect main.puml to be re-rendered since its included file has changed.

[2019-04-22 21:01] krasa commented on #218
I see, you use @startuml in your included file too. It worked fine for me because I do not.

Thanks for reporting it.

[2019-04-22 22:14] #217 closed

[2019-04-22 22:54] #218 closed

[2019-04-22 22:56] krasa commented on #218
Could you please try the fix?
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/3105128/plantuml4idea.zip)
-just download and drag it into the editor

[2019-04-24 01:01] studgeek opened #219 "Adding !preprocessorV2 to PlantUML config causes Syntax Error"
If I add the new !preprocessorV2 directive to the "PlantUML config" in preference I seem to get a red Syntax Error in every diagram.

[2019-04-24 02:19] studgeek commented on #218
Yes, that fixes it. Thanks for the quick response!

[2019-04-24 02:20] studgeek commented on #219
Background on is at !preprocessorV2 http://plantuml.com/preprocessing-v2 and it it also mentioned in http://forum.plantuml.net/9381/syntax-error-w-with-includesub-with-comments-since-2018-11?show=9412#c9412.

[2019-04-24 06:14] krasa commented on #219
works fine for me with 2.14, but you can always try to upgrade plantuml in
`.<IdeaIC2019.1>\config\plugins\plantuml4idea\lib`

[2019-04-24 06:16] krasa commented on #219
oh, in config or included file. Well, still plantuml bug, nothing to do here.

[2019-04-24 22:12] studgeek commented on #219
I had assumed that option was something that the plugin did, but now that I knew to look I found the following. So are the contents of that file passed to plantuml using --config? If so, I can use that to reproduce for plantuml team.
http://forum.plantuml.net/4266/configuration-file-specification

[2019-04-25 11:06] krasa commented on #219
We do not use the command line, but `--config` and `PlantUML config` is the same thing.

I think there is no problem anymore:
http://forum.plantuml.net/9381/syntax-error-w-with-includesub-with-comments-since-2018-11?show=9420#c9420

[2019-04-26 17:16] mattbishop opened #220 "Plugin throws an exception when plantuml can't load an image from a URL in an include file."
Here is the stack trace:

[code]

[2019-04-26 17:45] studgeek commented on #219
It is still a problem on the GA release 2015.1, but it is going away once they fully move to the preprocessor so I agree it is low priority and a plantuml issue anyway.

[2019-04-26 17:48] studgeek opened #221 "Exception occurred rendering - not sure of cause"
This is with PlantUML Integration 2.15.1 on the following IntelliJ version:
[code]

Results in the exception report below....

stacktrace.txt
[code]

induced.txt:
[code]

[2019-04-26 18:05] krasa commented on #221
Most probably PlantUML bug. Could you share build_flow_common.puml so I can reproduce it?

[2019-04-26 18:07] #220 closed

[2019-04-26 18:08] krasa commented on #220
Here is a fixed version if you need it now:
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/3122510/plantuml4idea.zip)

[2019-05-20 10:43] jbprek opened #222 "IDE error upon startup after recent upgrade"
IDE error on startup after loading project with PlantUML diagrams
==========================================

This occurs on startup of a project containning PlantUML diagrams only:

IntelliJ IDEA 2019.1.2 (Ultimate Edition)
Build #IU-191.7141.44, built on May 7, 2019

JRE: 1.8.0_202-release-1483-b49 x86
JVM: OpenJDK Server VM by JetBrains s.r.o
Windows 7 6.1

PlantUML Integration version 2.15.1

[2019-05-20 13:34] krasa commented on #222
Fixed by #220

[2019-05-20 13:34] #222 closed

[2019-05-30 23:01] innovation-plantation opened #224 "Quick Documentation pop-up Ctrl+Q plantuml diagrams"
Show PlantUML diagrams in the doxygen comments when looking at quick documentation (Ctrl+Q).

e.g. Test code:

    /**
     * @startuml
     * a -> b : foo
     * b -> a : bar
     * @enduml
     * @return zero
     */
    int foo() { return 0; }

    int main() {
       foo();
       return 0;
    }

To reproduce in CLion: hover over foo() in main and press Ctrl+Q
Current Result:

|  Declared In:

[2019-05-31 11:03] alanhg opened #225 "Error writing diagram"
![image](https://user-images.githubusercontent.com/9245110/58701845-b128ec80-83d6-11e9-8436-d5e2d9aec8e2.png)
![image](https://user-images.githubusercontent.com/9245110/58701871-c6058000-83d6-11e9-905c-76447c275864.png)
I can't export diagram

[2019-05-31 14:52] krasa commented on #224
Not sure if it's possible. Have you seen such feature elsewhere?

[2019-05-31 14:58] krasa commented on #225
Cannot reproduce.
Could you post a screenshot of the file chooser dialog before it fails?

[2019-06-01 01:50] alanhg commented on #225
![image](https://user-images.githubusercontent.com/9245110/58741974-b592eb00-8452-11e9-8ce9-6f83cbe2559b.png)

[2019-06-01 02:29] #225 closed

[2019-06-01 02:32] krasa commented on #225
Hmm, it was supposed to look like this:
![image](https://user-images.githubusercontent.com/1160875/58742399-32a76b80-8425-11e9-81cf-911923b751ee.png)

[2019-06-01 02:51] krasa commented on #225
You can update.

[2019-06-01 03:11] krasa commented on #225
I will have to fix it more...

[2019-06-01 03:27] krasa commented on #225
Now it should be ok.

[2019-06-01 10:18] alanhg commented on #225
@krasa after update plugin.it's ok, thank you!

[2019-06-02 16:43] innovation-plantation commented on #224
I think maybe I saw the equivalent feature in Eclipse CDT with plugins
before, but I don't know if the hooks are available in CLion to allow it or
not.

On Fri, May 31, 2019, 4:52 AM Vojtěch Krása <notifications@github.com>
wrote:

[2019-06-04 18:57] morfj opened #226 "Sequence diagrams auto numbering in editor"
It would make navigating between the PUML file and the rendered output easier if it was possible to see the "autonumbers" generated in the diagram as tags or gutter icons in the editor.
Or maybe even possible to navigate to the source by clicking in the diagram?

[2019-07-10 01:43] studgeek opened #227 "versions and colors keywords not working with PlantUML 1.2019.07"
FYI, I tried upgrading to PlantUML 1.2019.07 by switching jars. It works fine for the drawings I tested, but fails for keywords like versions and colors.

Plugin version is 2.17.3.

IntelliJ IDEA 2019.1.3 (Ultimate Edition)
Build #IU-191.7479.19, built on May 27, 2019
Licensed to Google

JRE: 1.8.0_202-release-1483-b58 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.5

Stacks b

[2019-07-10 05:52] #227 closed

[2019-07-10 07:36] krasa commented on #219
probably obsolete now

[2019-07-10 07:36] #219 closed

[2019-07-10 07:37] krasa commented on #227
you can update

[2019-07-11 18:01] studgeek commented on #227
Confirmed version and colors working with 2.18.1 which includes plantuml 1.2019.07. Thanks for quick response!

[2019-07-15 19:46] sl-nathanbu opened #228 "Setting for additional plantuml.include.path"
Currently; util.Utils sets the "plantuml.include.path" to only the currently selected files' parent directory ( via UIUtils::getSelectedDir ).

A setting which allowed additional include paths, would help when working on more complex diagrams with shared resources.

The closest workaround is to prepackage the include/ structure and !import the zip file

[2019-07-15 20:00] krasa commented on #228
You want a global settings, or per file by e.g putting it as a comment inside the diagram?

[2019-07-15 20:16] sl-nathanbu commented on #228
Just some way to pass an additional path to System::setProperty("plantuml.include.path").
For my usage; a per-project setting would be preferable; but a true global would be functional.

[2019-07-22 17:51] HugoTigre opened #229 "Zoom does not work when diagram has more than 1 page"
When the diagram has more than one page, ie, using the `newpage` keyword, the zooming of the diagram on the preview pane does not work.

Also, even when removing that additional pages, the diagram does not fit correctly in the preview pane, it appears to be cropped. This does not happen when the diagram is very small.

[2019-07-22 19:05] krasa commented on #221
That's funny... http://www.plantuml.com/plantuml/uml/ZLJTQXGn5BxUFCLnl6W7jYqM2bAMjJziQq4ib5K4MuRipcatc4d69ACTH10lz4RmLMgXM6cjhv1z8vFPRVQdWtLkSdA-xvppVOSX6zfGPOgC4_8WnMCc4Bgqnt5Hq0oRAUf-37rEjGQV0AeXyia8MYrOx3OVxknikY-6TZlKvufbL9N96omNJsDezTgdhPNU12y4UrjW1VKbbshzH24AJwgkTudDqb6BzfYjC6sxr2sxjL9CAeGqYIWuhveNlgK3oO2b21cQWKprwA8DAfIcp54JiW0e33FCnoFlXKQLACcn2L68enW-a31WsYHBunYszdRtddSxkvq3CjPTLLPhXD0aTjF

[2019-07-22 19:10] krasa commented on #229
example?

[2019-07-22 19:51] HugoTigre commented on #229
Sorry about that, here's an example.

This can be simulated with a simpler example, but this is what I have now, if you need anything else, let me know.

[code]

[2019-07-22 22:06] BorzdeG commented on #221
https://liveuml.com/view/5d3617a5f75f3858bcace989 - it's work

[2019-07-22 22:25] arnaudroques commented on #221
It's indeed a PlantUML bug. We are going to investigate...

[2019-07-23 05:49] krasa commented on #229
Thanks.

You mean that this happens?
![image](https://user-images.githubusercontent.com/1160875/61685880-4d5bd980-ad1e-11e9-95f2-424da9230bb6.png)

That's fine, there are scrollbars...

[2019-07-23 09:46] HugoTigre commented on #229
yes, except that the scrollers don't show the entire diagram, even with scrollers the diagram is cropped. And that is when you can zoom, most of the times the zoom doesn't even work.. when you try to zoom with the `+` and `-` button the cashed text notification next to the `?` button flashes but nothing happens.

[2019-07-23 12:56] krasa commented on #229
Yeah, zooming is fixed, that's fine. Now I am interested in the second problem :)
It could  be a platform issue...

[2019-07-23 13:07] krasa commented on #229
You can update https://plugins.jetbrains.com/plugin/7017-plantuml-integration/versions

[2019-07-23 21:27] arnaudroques commented on #221
Thanks for the report.
This should be fixed in last beta http://beta.plantuml.net/plantuml.jar
Tell us if it's not working for you.
(Note that we have removed the quote in the line `not_null(password VARCHAR[255])`)
It will be released with next official release in the middle of August.

[2019-07-24 13:09] HugoTigre commented on #229
Nice :) thanks. So far, from what I could tested, it works fine, and it seems to fix the second problem also which is great :).

If I had the problem again I'll report it, but I guess is safe to close this issue.

[2019-07-24 13:12] #229 closed

[2019-07-26 05:52] nnar1o opened #230 "syntax highlighting in editor"
can you please add the same highlighting as i.e. in visual studio code?

![image](https://user-images.githubusercontent.com/38096038/61928839-01a56c00-af7a-11e9-8765-eb0a191bd820.png)

on intellij it looks like this (no syntax highliting):
![image](https://user-images.githubusercontent.com/38096038/61928892-2ef21a00-af7a-11e9-8ad2-a09079604172.png)

[2019-07-26 06:40] krasa commented on #230
#179

[2019-07-26 06:40] #230 closed

[2019-07-29 09:13] raulcodurance opened #231 "Diagram not rendered when using LAYOUT_WITH_LEGEND"
Hi all,

I updated to the last version of the plugin and now, LAYOUT_WITH_LEGEND, does not let the diagram be rendered.

I attach the error screenshot.
![Screenshot 2019-07-29 at 11 11 51](https://user-images.githubusercontent.com/48439443/62036248-bd240580-b1f1-11e9-9aad-6212ab60c044.png)

thanks

[2019-07-29 09:25] krasa commented on #231
plantuml bug/feature?
http://www.plantuml.com/plantuml/uml/SoWkIImgAStDuV9nZFGF3OaFzmpnYFTnTNVrS-7YSifFKj2rKt3CoKnELR1Io4ZDoSddSaZDIm5g0000

[2019-08-01 02:29] maokejackson commented on #39
Hi, is there any planning to support syntax highlighting?

[2019-08-02 08:02] kula99 commented on #231
use parenthesis, LAYOUT_WITH_LEGEND()

[2019-08-02 17:37] aweigold commented on #221
FYI, I was encountering the same exception, replacing the lib jar in the plugin with the beta worked perfectly.

[2019-08-26 10:09] danielschenk opened #232 "Occasional NullPointerException when typing in PlantUML file"
I got this twice within one hour, while working in a PlantUML document in PyCharm. It appears to have started only after I upgraded PyCharm from 2019.2 to 2019.2.1. I'm using the 2.19.1 version of the plugin.
[code]

[2019-08-26 11:36] krasa commented on #232
https://forum.plantuml.net/9922/nullpointerexception

[2019-09-04 17:03] SJrX commented on #204
I think IntelliJ VM Settings is sub-optimal as those things get lost, and aren't part of the project settings.

[2019-09-12 06:24] phazebroek commented on #200
A hint to install graphviz would be nice :-)

[2019-09-16 10:06] ThaDaVos opened #233 "Latest plugin version is broken -> Can't generate my UML anymore"
We've been using this plugin for a while now but suddenly on the latest PHPStorm version it doesn't generate our UML Diagrams anymore and gives the following error:
https://pastebin.com/x7KMgYjW

[2019-09-16 10:54] krasa commented on #233
There is something wrong with your included file. Probably plantuml bug, try to update - https://plugins.jetbrains.com/plugin/7017-plantuml-integration/versions

[2019-09-16 10:55] krasa commented on #221
fixed in 2.20.0

[2019-09-16 10:55] #221 closed

[2019-09-16 10:56] #231 closed

[2019-09-17 20:08] tartrout opened #234 "Bullet points list inside the floating note is dispalyed incorrectly"
This works well on PlantUML server (if entered manually on the web page)

@startuml
start
floating note right
    A list
    * item 1
    * item 2
end note
stop
@enduml

However, the plugin doesn't display the bullet points. If I choose the context menu item "Copy as PlantUML Server link" - the link is also generated incorrectly. The text (from the URL) is not the same as the original text.

(plug

[2019-09-17 22:09] #234 closed

[2019-09-17 22:13] tartrout commented on #234
Thanks!

[2019-10-01 08:10] saabeilin opened #235 "Failed to render image"
That's the stacktrace I get both in latest PyCharm Pro and Idea Ultimate (2019.2.x), while works seamlessly in Idea EAP 2019.3

[code]

[2019-10-01 11:42] krasa commented on #235
check this https://youtrack.jetbrains.net/issue/UP-10334

[2019-10-01 14:29] costalfy opened #236 "packages doesn't rederring"
I use Sketch It to generate my plantUML and I have mistake in the rendering whit Graphviz.
I have an example here :
[code]
it'll generated this diagram:
![](http://www.plantuml.com/plantuml/png/pPHlQzim4CRVwrFSksq4-mFanMYRj538bj8_xmP1aM-EcAmpf_EojUi---p9R5ZO2wI3nf04FO_kfxjJpcT1D4jJEQN4YaFOR1RhZ_UtwzNgylPDW8NJ8S3Iwf9rjTbyyae1U5rXgBL1C5JbsXVV3RKS_wZp7Uzn6v2_sjPzKW33tLwOd4FkBG3JyV-DoV-6vHzgXtJ3L2EBnT

[2019-10-01 14:38] krasa commented on #236
That has nothing to do with this plugin. You need to report that here: https://forum.plantuml.net/

[2019-10-01 14:38] #236 closed

[2019-10-01 20:08] saabeilin commented on #235
Thanks a lot @krasa - removing the old libraries actually solved the issue!

[2019-10-01 20:08] #235 closed

[2019-10-07 07:39] uhafner opened #237 "Remember file extension in export dialog"
Currently the file extension can be changed manually, e.g., to generate an output in svg. It would be an enhancement if the plugin would remember the last choice of the user. Otherwise you need to change that type every time you are going to export the file. (It would be a good design anyway if the list of supported extensions would be available as a list box, then users cannot select an unsupport

[2019-10-07 07:49] uhafner opened #238 "Don't ask for permission to override file on export"
When I am exporting the diagram and the file already exists then a dialog appears that asks for permission to overwrite it. This is somewhat cumbersome, the UI would be more elegant if it simply would overwrite the file. There is a version management integration and a local history in IntelliJ which helps users to restore overwritten files.

[2019-10-08 12:10] dariuszuzar opened #239 "Long text exceeds the box's boundaries"
In the sequence diagram, long name of participant exceeds the box's boundaries.
Ubuntu 18.04, Itellij IDEA 2019.2.
![image](https://user-images.githubusercontent.com/44100848/66394265-f1c3f280-e9d4-11e9-9ffb-fba5b705036f.png)

[2019-10-11 10:44] ArturGudiev opened #240 "Diagrams are not rendered in scratch files"
If I create a scratch file (Cntrl+Shift+Alt+Insert) with .puml extension it allows me only edit the code. But it doesn't show the diagram itself.

![Screen](https://user-images.githubusercontent.com/4563342/66645822-1dd9b080-ec2d-11e9-85ad-c82d780dc3ac.gif)

[2019-10-11 10:52] #240 closed

[2019-10-11 10:53] ArturGudiev commented on #240
Just needed to manually open the tab in right menu.

[2019-10-21 05:01] metomas opened #241 "Not possible to save multiple diagrams described in a single file"
If more than one diagram is described in a single file (example below), clicking on `Save All Diagrams in Current File` generates the current diagram only.

[code]

Intellij IDEA 2019.1.3 (Ultimate Edition)
PlantUML Integration v2.21.0

[2019-10-22 09:09] idefixcert opened #242 "Not possible to save diagram with intellij ultimate 2019.2.3 on macos"
When I click save current diagram only intellij freezes and I have to kill the application.

[2019-10-22 09:19] krasa commented on #242
any threaddumps in the log folder?

[2019-10-22 09:20] krasa commented on #239
try to render it from a command line...

[2019-10-22 09:23] krasa commented on #241
It should probably be renamed to 'Save All Diagrams'.

[2019-10-22 09:42] metomas commented on #241
@krasa what do you mean by saying all pages?

[2019-10-22 10:07] krasa commented on #241
[code]

2 pages = 2 diagrams = 2 images

[2019-10-22 10:16] metomas commented on #241
Got it. Thanks for explanation.

Just to close this thread this is what gets generated for your example.

![image](https://user-images.githubusercontent.com/16761903/67276700-8c3c2f80-f4c5-11e9-9de6-014354387263.png)
![image](https://user-images.githubusercontent.com/16761903/67276715-9100e380-f4c5-11e9-9e34-7d974c94f870.png)

I suppose that Alice/Bob and John/Jane should be on separate diagrams.

[2019-10-22 10:19] #241 closed

[2019-10-24 08:48] idefixcert commented on #242
no did't find anything,

but I saw, actually if I say save, then I get the save dialog,
and if I cancel the idea also freezes.

Regards Chris

[2019-10-24 13:39] krasa commented on #242
that looks like a platform issue

[2019-10-29 03:54] totodo713 opened #243 "Plugin is broken with using markdown code fence and PUML Fragment editor"
hi

NullPointerException occurred when I edited my .md code fence with PUML Fragment editor.
Is the cause of this exception a double launch of PlantUML (or dot)?

![image](https://user-images.githubusercontent.com/35787394/67736425-f49d8a80-fa4a-11e9-855b-a9658b7a2a9f.png)

[2019-10-29 09:17] #243 closed

[2019-10-29 09:21] krasa commented on #243
File's directory was null, strange.

[2019-10-30 05:15] totodo713 commented on #243
hi krasa.

Thank you for fixing too quickly!
It is comfortable to use.

[2019-10-30 11:59] jonathonf opened #244 "Please tag newer releases"
The tags in GitHub stop with version 2.16.0 but the release version is now up to [2.22.0](https://plugins.jetbrains.com/plugin/7017-plantuml-integration/update/71296).

Could you please tag releases in GitHub too?

[2019-10-30 19:39] krasa commented on #244
Just out of curiosity, what for do you need it?

[2019-10-30 19:45] jonathonf commented on #244
For example, it makes it much easier to track new releases than the Jetbrains plugin page (which has a weird [AJAX JSON-based deferred loading](https://plugins.jetbrains.com/api/plugins/7017/updates?channel=) rather than a standard HTML page or feed).

[2019-11-02 06:52] bmxbmx3 opened #245 "can't show chinese correctly in preview"
# environment
+ jdk 8
+ graphviz 2.38
+ plantuml plugin 2.22.0
+ windows 10

# result
my file encoding is utf-8,and the file and the preview show below:

![plantuml](https://user-images.githubusercontent.com/33427015/68067315-f8e5e280-fd7f-11e9-9ee8-f2ba3282b09f.png)

the preview doesn't show chinese characters correctly,how to fix it?

[2019-11-19 15:14] clemensbartz commented on #242
**Cannot** confirm this issue for 2019.2.4.

[2019-11-20 16:36] christophercurrie opened #246 "Feature request: Allow preview renderer to be "embedded" in editor tab"
Because the renderer is a separate toolbar window, when it's expanded it compresses the editor window causing some editor tabs to be hidden, making it a little more awkward to switch between files.

If the preview window was nested in the editor, in a similar way to the built-in Markdown previewer, editor tab placement would be unaffected.

[2019-11-28 16:19] andioz commented on #239
PlantUML Version 1.2019.12 works correctly from command line.

[2019-12-07 00:19] skewty commented on #239
I installed `plantuml.1.2019.12.jar` into `~/.PyCharm2019.3/config/plugins/plantuml4idea/lib` and removed the old version and it still happens.  I additionally tried upgrading my local graphviz to newer than latest "stable" release and that didn't fix it either.

Perhaps it is something to do with the font rendering in the JetBrains JRE?

[2019-12-07 00:22] skewty commented on #239
@krasa I don't think the **PlantUML/Graphviz** label is correct as running the newest releases of both doesn't fix the issue and as @andioz stated, it works from command line.

[2019-12-12 15:40] skewty opened #247 "commented text should have uniform color"
Comments should have all text uniform / the same color.
Currently, reserved / keywords are colored differently

![Screenshot from 2019-12-12 07-39-31](https://user-images.githubusercontent.com/9087223/70726248-9f43d280-1cb2-11ea-9f96-bdf7ba7de283.png)

Example: In the screen capture above, I would expect the word `activate` to be gray

[2019-12-12 15:46] skewty commented on #239
I did a fresh Windows install and this issue was not present there.  So the issue does not appear to be inside the bundled PlantUML.jar or PlugIn code (unless different OSs have different code paths).  The difficulty will be in tracking down what is to blame :)

@andioz how were you testing from command line?  Did you just test PlantUML or did you also test GraphViz?

[2019-12-12 16:10] krasa commented on #239
works fine for me on Win 10.

[2019-12-12 18:30] skewty commented on #239
For Linux users, this is an upstream issue with the JetBrains bundled JRE.

[Upstream JetBrains Issue](https://youtrack.jetbrains.com/issue/PY-39672)

[2019-12-12 18:35] skewty commented on #239
@krasa any chance you can add an option or read a special environment variable so affected users can work around this by specifying which java binary (java.exe in windows speak) to use until JetBrains fixes this?

As you are likely aware JetBrains is often very slow fixing bugs that don't affect Mac OS users.

[2019-12-12 18:37] skewty commented on #239
@krasa also, perhaps a "JetBrains issue" label should be added and " PlantUML/Graphviz issue" label removed.

[2019-12-12 19:13] skewty commented on #239
To confirm the issue is the JRE:

Create ~/.PyCharm2019.3/config/pycharm.jdk
[code]
Tells PyCharm to use **/usr**/bin/java instead of the bundled JRE.

Restart PyCharm and notice the issue is gone.

For me PyCharm will show a warning about my chosen JRE having issues and suggests I switch back to the bundled one.

[2019-12-13 08:06] andioz commented on #239
I ran the JAR file on Ubuntu 16.04 Linux, GraphViz is installed in system, so I guess it is used by th JAR file, but I'm not sure...

[2019-12-14 00:30] skewty commented on #247
Perhaps this is related..   the colored / reserved / special words aren't always matching

![Screenshot from 2019-12-13 16-28-34](https://user-images.githubusercontent.com/9087223/70840240-d1922480-1dc5-11ea-9d5e-b77e123ecf3a.png)

notice how `package` and `class` are not being recognized

[2019-12-14 00:35] skewty commented on #247
Is this the same as #39?

[2020-01-21 09:05] onetom opened #248 "Can't zoom dot files"
When I try to use PlantUML to simply render a directed graph using DOT syntax, eg:

[code]

the graph appears, but nothing happens when I'm clicking on the zoom controls in the PlantUML tool window.

The built-in UML examples got rendered as expected and they can be zoomed in and out too.

I've tried it with `nix-env -i plantuml graphviz` and `brew install plantuml`, but neither versions work
with

[2020-02-07 15:58] pcornelissen opened #249 "Scrollable area smaller than generated image"
We have a (medium sized) sequence diagram which leads to a generated image that is larger (longer!) than the scrollable area. When we zoom out, we can see the lower part of it, but it's not readable at that zoom level.
Here you can see the bottom of the scrollable area:
![image](https://user-images.githubusercontent.com/1177440/74044123-db519600-49ca-11ea-948d-0329e1a3fb72.png)

(Simplified versio

[2020-02-07 16:03] pcornelissen commented on #249
I just noticed that when I zoom in the intellij window and then open the image as png, then the image is not just zoomed, but the pixel count is basically the same, it's just rendered smaller.
So the issue may be a max size for the generated image?

[2020-02-07 16:07] krasa commented on #249
OS?
Works fine for me unless I really zoom in. Try to add  `-DPLANTUML_LIMIT_SIZE=8192` into IntelliJ VM options.

[2020-02-07 16:10] krasa commented on #249
`PlantUML limits image width and height to 4096. `
https://plantuml.com/faq

[2020-02-07 16:11] pcornelissen commented on #249
I use macOS.
The -D option works! maybe the default should be a bit higher ;-)

[2020-02-07 16:11] #249 closed

[2020-02-26 08:57] cgi commented on #209
Very usefull tip!
For verify version chenge sugest this snipet:
[code]

[2020-03-03 12:52] madreason opened #250 "Feature request: Render *.dot files without plantUML meta tags"
I use digraph library.  I cant add any metadata symbols to file, library throws exception on loading.
Please, add default file type option for renderer.

[2020-03-05 18:12] skewty opened #251 "diagrams with !include <file> do not reload as expected"
[code]
Load up external.puml in IDE and make a change.  The diagram updates right away.
Go back to the previous diagram with !include.  Click the [Reload] button.
The change is not picked up (it happens eventually).
Restarting the IDE makes it work right away obviously.

[2020-03-06 17:01] skewty commented on #251
I set cache to `0` and restarted my IDE.  It still doesn't work as expected.

When I make a change to external.puml with "Automatically Render" enabled it shows the change immediately.  When I switch to the other drawing and click [Reload] button it does not pick up the change.

If I go back to external.puml and Ctrl-S (Save All), go back to other drawing and click [Reload] button it does pick up

[2020-03-06 18:28] krasa commented on #251
Includes are loaded from HDD, so the IDE needs to save them before rendering, but apparently it no longer works:

https://forum.plantuml.net/10952/blockumlbuilder%23getincludedfiles-no-longer-works

[2020-03-06 19:48] krasa commented on #251
you can try this, it has new beta plantuml jar: https://github.com/esteinberg/plantuml4idea/releases/download/2.23.0/plantuml4idea.zip

[2020-03-09 17:55] skewty commented on #251
That did it!  Thanks for such a quick response / fix.

Does caching still need to be set to `0`?  Was that step a troubleshooting one?

[2020-03-09 17:55] #251 closed

[2020-03-11 18:37] krasa commented on #251
No, caching should work fine.

[2020-03-17 12:21] owen9825 opened #252 "Hyperlinks don't do anything"
I can write hyperlinks fine in my PlantUML diagram and the text renders in blue, with the underline, as though it is a hyperlink, but clicking on it (in the image preview) doesn't actually do anything.

I see that I can copy it as a PlantUML server link (<http://www.plantuml.com/plantuml/uml>), where there's a `diagram` consisting of the `img` and a `map`, which has the hyperlink. Would it please

[2020-03-17 12:33] krasa commented on #252
did you enable it?
![image](https://user-images.githubusercontent.com/1160875/76856610-e44c4780-6853-11ea-9070-c2cb4f8ff2f8.png)

[2020-03-17 12:37] owen9825 commented on #252
Oh yes I should have mentioned that sorry. I did indeed select that option. I wasn't quite sure how long to wait, but after 20 seconds, the links still weren't interactive.

[2020-03-17 12:43] krasa commented on #252
It only slows the rendering, there is no "after".

Post an example.

[2020-03-17 13:29] owen9825 commented on #252
![sample UML](https://user-images.githubusercontent.com/1582341/76860508-8870c700-6831-11ea-9000-b1356f5c4a41.png)
Here is a minimal example

[2020-03-17 14:11] krasa commented on #252
Hmm this no longer works:
https://github.com/esteinberg/plantuml4idea/blob/2b644d0b7a27a5d40d985c9fe1ab327b7dc2dc16/src/org/plantuml/idea/rendering/ImageItem.java#L214-L235
it need to process:
[code]
@koroandr

[2020-04-02 08:43] bwoester commented on #228
Same here, we're using it to generate C4 diagrams (see https://github.com/RicardoNiepel/C4-PlantUML), so we're having different includes like the follwoing in almost all our diagrams:

[code]

Without being able to configure the include path, we're left with
- include an URL like `!include https://raw.githubusercontent.com/RicardoNiepel/C4-PlantUML/release/1-0/C4_Context.puml`, which doesn't work

[2020-04-06 08:56] o0starshine0o commented on #204
if it is AndroidStudio,we should edit :
`/Applications/Android\ Studio.app/Contents/bin/studio.vmoptions`
add :
`-DPLANTUML_LIMIT_SIZE=24384`
in the end.

What's more, the PLANTUML_LIMIT_SIZE can be more larger

[2020-04-17 12:19] krasa commented on #247
yes, and  #17 #179

[2020-04-17 16:57] arvidj01 commented on #252
I will the following scenario ...

IntelliJ 2020.1 running on Mac OS

Created and ER diagram within a .adoc using the AsciiDoc plugin. Included this in an .adoc file ...

[code]

.svg file is generated and active links are generated. Note that the '%interactive' attribute was the key to getting the links to generate correctly. Otherwise they simply LOOKED like links, blue and underlined, but did n

[2020-04-17 17:48] krasa commented on #252
It is not a problem to generate svg with links, the problem is displaying it, I will try to find some component for it.

Exporting svg works fine, and the resulting xml contains links, e.g. Chrome can handle them.

[2020-04-20 16:40] #252 closed

[2020-04-20 16:50] #237 closed

[2020-04-20 17:54] krasa commented on #238
That is handled by IntelliJ itself, it will be better to not reimplement it.

[2020-04-20 17:54] #238 closed

[2020-04-20 18:14] krasa commented on #252
You can try it: https://github.com/esteinberg/plantuml4idea/releases/download/2.24.0/plantuml4idea.zip

(install the whole zip, or drag it into the editor)

[2020-04-20 18:26] owen9825 commented on #252
oh thanks, works well :) This is very handy

[2020-04-21 15:18] krasa commented on #246
The one advangate the current way has, is that it works anywhere, for any embedded code. The editor would work only for associated file extensions.

[2020-04-28 09:30] alexcom opened #253 "New diagram popup closes when "Enter" is hit"
How to reproduce:
1. Press CMD+n and select PlantUML file
2. In opened popup enter name for new file. Do not select diagram type!
3. Press "Enter"

Expected behavior:
1. Do not close popup if diagram type not selected
OR
2. Create blank diagram with just "@startuml/n@enduml"

Actual behavior:
Popup closes, diagram file is not created.

[2020-04-28 10:48] #253 closed

[2020-04-28 10:49] krasa commented on #244
thanks, interesting.

[2020-04-28 10:50] #244 closed

[2020-04-28 10:55] #242 closed

[2020-04-28 10:56] krasa commented on #245
Posting the diagram source as a text would help.

[2020-04-28 13:32] dubreuia opened #254 "125% DPI Scaling on multiple monitors looks bad (Windows 10)"
Hello guys,

Thank you for doing this plugin, it is amazing!

My issue is the same as #213, #182, #148. I don't know if it is a regression or not (I tried downloading version 2.13.0 but it doesn't work anymore, and hello @krasa !), at scaling 125% on Windows 10, the preview doesn't look good. Here is at 100% and 125% scaling:

![plantuml-preview-windows-10-scaling-100-beautiful](https://user-image

[2020-04-28 13:46] krasa commented on #254
Works fine for me, could you paste your source code? Did you log-off after changing to 125%?

![image](https://user-images.githubusercontent.com/1160875/80494648-30b49800-8967-11ea-83ba-9e2e612fdd95.png)
[code]

[2020-04-28 15:56] dubreuia commented on #254
Found the problem: I have 2 monitors, one of them doesn't have the same scaling (100% and 125%). When I drag the Intellij window from the 125% monitor to the 100% monitor, the diagram gets all blurry. Weird, because the rest of the content is OK (I really don't understand how scaling works).

Thank you for your answer @krasa, I'm closing this issue.

[2020-04-28 16:09] krasa commented on #254
Not sure if it should work or not.

It is done by:
https://github.com/esteinberg/plantuml4idea/blob/0104ea8dba00983991d661fec1eb6215c1431e9e/src/org/plantuml/idea/toolwindow/PlantUmlImageLabel.java#L94-L95

relevant:
https://github.com/JetBrains/intellij-community/blob/4f20b03caca11a3108607109cbbe2443d10dd425/platform/util/ui/src/com/intellij/ui/scale/ScaleType.java#L66-L81
https://youtrack.jetbra

[2020-04-29 21:30] neooblaster opened #255 "Issue with attributes SIDES of TABLE or TD"
Hi Team,

I encounter an issue (minor) with PlantUML **2.24.0** under PhpStorm **2020.1**.
The value `LR` or `RL` will not work.
Their is no issue if `T` or `B` is used with.

Please find below a screenshot showing the issue.
For the issue I add empty cell to separated cases :

![image](https://user-images.githubusercontent.com/22078558/80648851-31d1ec00-8a71-11ea-8917-c10f77d28ff4.png)

Source Co

[2020-04-29 21:35] krasa commented on #255
Not a plugin issue http://www.plantuml.com/plantuml/uml/pPNTQjim583l_HG7lq2QxMeqDhNRqGLi1qnoiPOHPElK5TEa8CamA7ttwOTuhXYZtKA9BvAS7tt-98BEbJP4cV47JoWR53aymjsNNRqlTjiDF2LWdyK2Rhdi28ThAHxOC2fYc1I-9YH5k4yWFA0VoG6pJlxqcM_9SNrZs_JBvThNQY962uu9GWgy14uwvDbgPKZ74JgfAAeilKYXHywFuJA4-a1w9WPNpYVOogXyPIXqGo-vjCqAQPhxoi9GLygz0VAGi1zgjdhXNvpdbs4tuQiOZNmttq4XYjZO6xpQj_xyOTcyNVWlXZwO4l7nmk-Dvh0Cdl6A5ptN2eb1sBZCAzhz

[2020-04-29 21:43] neooblaster commented on #255
Hello,

Oh Okay, I didn't thought you just only port PlantUML into JetBrain IDEs.
Is PlantUML has a Issue Tracker ?

[2020-05-03 13:40] #255 closed

[2020-05-03 13:48] krasa commented on #239
Not sure what you mean, it does not use an external process.

Perhaps PlantUML team could make a workaround for Jetbrains JRE.

[2020-05-03 13:49] #233 closed

[2020-05-03 21:19] krasa commented on #152
I've tried Gradle again and it is just terrible.
- hotswap of one class takes 15s instead of 2s - it reloads everything because of instrumentation `https://github.com/JetBrains/gradle-intellij-plugin/issues/459`
- start of the IDE 10s to see a splashcreen compared to 2s without it.

Closing this until the performance is fixed.

[2020-05-03 21:19] #152 closed

[2020-05-06 20:54] neooblaster commented on #255
Final Solution :
Graphviz for window latest version was 2.44, not 2.38 as available on the official website :

[https://gitlab.com/graphviz/graphviz/-/issues/1706](https://gitlab.com/graphviz/graphviz/-/issues/1706)

[2020-05-06 23:33] krasa commented on #255
That's nuts, I was running 2.38 too.

[2020-05-07 09:34] neooblaster commented on #255
Hi @krasa ,

You can find latest version (Automatically Build) here.
You have to select your OS/Release and then go in Artefact to get .exe file or zip.

[https://ci.appveyor.com/project/ellson/graphviz-pl238](https://ci.appveyor.com/project/ellson/graphviz-pl238)

[2020-05-08 17:00] DidierLoiseau commented on #254
@krasa Is it supposed to work in dual-screen mode? PlantUML seems to only take into account the scale of the main display (laptop screen), in my case 125%. On the secondary display (external screen), which is set to 100%, diagrams are blurry, except if I set it to 125% as well.

I swapped the primary and secondary display, and now I have it sharp on the external screen (at 100%) and blurry on the

[2020-05-09 13:27] krasa commented on #254
I may have a fix, but cannot reproduce it, could you try this?
(Drag it into the editor.)
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/4603513/plantuml4idea.zip)

[2020-05-09 14:14] #204 closed

[2020-05-09 15:00] krasa commented on #248
https://forum.plantuml.net/11351/unable-to-scale-dot-diagram?show=11351#q11351

[2020-05-09 15:03] #248 closed

[2020-05-09 15:36] #228 closed

[2020-05-09 15:51] krasa commented on #204
You can try it: https://github.com/esteinberg/plantuml4idea/releases/download/2.25.1/plantuml4idea.zip

[2020-05-09 15:51] krasa commented on #228
You can try it: https://github.com/esteinberg/plantuml4idea/releases/download/2.25.1/plantuml4idea.zip

[2020-05-09 19:37] #201 closed

[2020-05-11 08:01] DidierLoiseau commented on #254
Thanks @krasa, that seems to fix it for me – I just have to refresh the diagram when moving from one screen to the other.

[2020-05-11 09:09] krasa commented on #254
Good, thanks!

[2020-05-11 09:09] #254 closed

[2020-05-11 17:45] patkujawa-wf commented on #248
What about being able to zoom to see the error message when the diagram has a syntax error? That's actually more of my use case - it's so small that I can't read what it says and also can't zoom in to read it :(. Is that something that can be fixed here?

[2020-05-11 18:52] krasa commented on #248
@patkujawa-wf you have a Retina or use 200% DPI?

[2020-05-13 17:13] patkujawa-wf commented on #248
@krasa yes, a retina display. Though even on my external monitor (non-retina) it is small, and I don't have any special DPI setting. If anything, I typically set things so they  are larger, not smaller, with  my old, tired eyes :D

[2020-05-13 17:40] krasa commented on #248
I will create an issue for PlantUML, and maybe also try to implement rendering using SVG, that would solve everything.

[2020-05-18 06:09] uhafner commented on #237
I'm not sure if I am doing something wrong but that does not work in IntelliJ 2020.1 and 2.25.2.

Steps to reproduce:

- Click *Save* Button in PlantUml
- IntelliJ offers a Dialog with `diagram.png`
- Change Name to `diagram.svg`
- Press *Save*
- IntelliJ Correctly saves to `diagram.svg` and closes the dialog
- Click *Save* Button again
- IntelliJ still offers a Dialog with `diagram.png`

Expected

[2020-06-08 10:52] TobseF opened #256 "Feature request: UML preview for PlantUML code blocks in Markdown files"
I often use PlantUML for documentation and add it to project README files. So it would be a great benefit to edit and view a diagram during editing it in a Markdown file. A hosting platform like GitLab can already preview the rendered Markdown in place.
### Needed
For markdwon files: Render code blocks (```) of with `plantuml` syntax in the PlantUML-Tab.
### Why
So we can write our diagram direct

[2020-06-08 11:59] #256 closed

[2020-06-08 11:59] krasa commented on #256
You can try it
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/4745778/plantuml4idea.zip)

[2020-06-08 13:09] TobseF commented on #256
👍 Great... thanks a lot, for the super fast response with update!
It works and makes my live as a dev one stepp better 🌞

[2020-06-13 14:01] DonMathi opened #257 "Link into source code"
Is it possible to add link into source code from a PlantUML class diagram?

[2020-06-16 06:17] eugene-borovov commented on #232
I got the same issue (plugin version 2.52.2). It occurs on every PlantUML syntax error.

[2020-06-16 09:56] krasa commented on #232
please comment here: https://forum.plantuml.net/9922/nullpointerexception

[2020-06-19 21:21] DaleStrickler commented on #257
I have been using this with pretty good success so far: https://github.com/pierre3/PlantUmlClassDiagramGenerator
I set it up as an external tool.  Still messing with configurations a bit.  But it would great for this to be built-in.

[2020-06-26 15:37] akobyakov opened #258 "Do not render errors in the diagram frame"
At the moment, when a puml contains an error (e.g. a syntax error causing the parser to fail), it is rendered in the same area as a diagram.
When using the plugin in remote design sessions, it might be very distracting.
Would be awesome to show the errors in a separate place, e.g. in a separate tab, and keep the last successful render of a diagram in place.

Thanks for the great job making and mai

[2020-06-26 18:13] krasa commented on #258
You can try it:
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/4838573/plantuml4idea.zip)

 I was thinking about doing a hover icon as IntelliJ now has:
![image](https://user-images.githubusercontent.com/1160875/85887933-f04b8c00-b7e8-11ea-8231-fbaa1590d433.png)
my current lazy solution requires the panel to be wide enough for the status to be visible.

![image](https://user

[2020-07-16 15:38] jpierson-vetsource opened #259 "When Editor tabs placed on the right, they mess up the editor layout"
If Settings->Editor Tabs->Tab placement = Right then when the uml editor is open, the editor tabs appear between the UML text and the Diagram.
![plantuml_bug](https://user-images.githubusercontent.com/5347445/87691680-7dcb2d80-c750-11ea-887d-69d27213a45f.png)

[2020-08-18 01:10] krasa commented on #259
That's just how IntelliJ works.

[2020-08-18 15:45] krasa commented on #259
You probably want this https://github.com/esteinberg/plantuml4idea/issues/246

[2020-08-18 15:45] #259 closed

[2020-08-21 07:12] frankyfish opened #260 "High CPU consumption in background Idea 2020.1, Mac OS 10.15"
Hello, stumbled across this issue again. For whatever reasons Plant UML plugin starts to load CPU while IDE being running in the background. No tasks or actions are being performed, all diagrams in project are already built and rendered.
Turning the plugin off immediately resolves high CPU load.

IntelliJ IDEA 2020.1 (Ultimate Edition)
Build #IU-201.6668.121, built on April 8, 2020
Licensed to Int

[2020-08-21 07:16] frankyfish commented on #260
Small update: the project that was opened in the IDE (where 1st screenshot was taken) doesn't even contain any Plant UML diagrams.

[2020-08-24 06:18] matschaffer commented on #209
I'd like this as well. Seems like the latest version of graphiviz from homebrew (2.44.1) is no longer compatible with the `plantuml.1.2020.9.jar` that this plugin ships with.

I tried swapping in 2020.11 which seems to work from the command line, but I just get nothing. Maybe incompatible with the plugin's code.

[2020-08-24 06:46] matschaffer opened #261 "java.lang.IllegalArgumentException on diagrams with empty `StereotypeFontSize 0` element"
Apologies for the broad bug report, but I'm having an odd issue with _just_ the IntelliJ plugin that I can't reproduce even by calling ` java -jar ~/Library/Application\ Support/JetBrains/IntelliJIdea2020.2/plugins/plantuml4idea/lib/plantuml.1.2020.9.jar -t png ...`

Here's the stacktrace from the intellij log:

[code]

And the diagram

[code]

C4 is from https://github.com/RicardoNiepel/C4-PlantU

[2020-09-05 20:36] e13mort opened #262 "Feature request: zoom rendered diagrams with mouse/touchpad"
It would be great to be able to zoom rendered diagrams. The behaviour might be the same as a text zoom gesture in IDEA (zoom rendered text then render it again with a new quality based on a new zoom level).

[2020-09-06 14:12] krasa commented on #262
do you mean ctrl+wheel?

[2020-09-07 09:32] e13mort commented on #262
Yes. I didn't know I could do that :) Anyway, there are few issues with this zooming:

- It's laggy and works with perceptible delay
- Zoom doesn't work with touchpad

[2020-10-01 21:14] jord1e opened #263 "Question about Grammar and Gradle branches"
Hello,

What is the status of the `gradle` and `grammar` (syntax highlighting) branches? Is any help wanted on implementing and testing the two? The two branches are hundreds of commits behind and seem relatively complete.

If help is wanted on implementing Gradle i could also automate testing and deployment using GitHub actions <https://github.com/features/actions>.

Thanks for the work you do.

[2020-10-07 11:18] krasa commented on #263
- grammar was never finished, https://plugins.jetbrains.com/plugin/14821-plantuml-studio seems to have grammar for every diagram type, that is probably a better way.
- gradle imho does not have much point for such small plugin. It makes compilation slower - `https://github.com/JetBrains/gradle-intellij-plugin/issues/459`,  and adds another thing that needs to be maintained. The project setup is do

[2020-10-08 09:45] #263 closed

[2020-10-12 14:54] robert-franz commented on #247
Another issue is e.g. when writing notes and having one of the keywords inside the note. Then e.g. all the keywords are highlighted. In the end this definately is not a problem but it would be much nicer having no coloring there.

[2020-10-28 15:51] bondden opened #266 "%filename() and %dirpath() return empty values"
Built-in PlantUML functions `%filename()` and `%dirpath()` return empty values.

Steps to reproduce:

1. Environment:

- Linux version, but there's a mention of the same behavior on Windows (https://forum.plantuml.net/9434/questions-regarding-preprocessorv2)
- Plugin version: 2.25.2
- IDE Version: WebStorm 2020.2.3 Build #WS-202.7660.23, built on September 30, 2020

2. Example code:

![s_20201028_

[2020-11-07 14:41] krasa commented on #266
%dirpath() does not work for me even from the command line for v1.2020.19 on Win10

[2020-11-07 15:43] #266 closed

[2020-11-07 15:54] krasa commented on #261
Works fine for me, try a new version.

[2020-11-08 06:46] matschaffer commented on #261
Still happening on `2.27.0` which I updated to today.
![ingest_global](https://user-images.githubusercontent.com/690/98458947-2f4b0e80-21d9-11eb-9a34-b6cdd43daa9f.png)

Does the plugin run plantuml from the same JVM as intellij? If so that'd be

[code]

`java` on my CLI path is:

[code]

So definitely not the same. Will see if I can invoke intellij's java directly.

[2020-11-08 06:50] matschaffer commented on #261
Found it. Same error if I invoke plantuml from the `java` I found in the intellij app bundle.

[code]

[2020-11-08 06:57] matschaffer commented on #261
I plucked apart C4 a bit and found a more minimal reproduction case:

[code]

Seems like it's the `StereotypeFontSize` that leads to the issue.

[2020-11-08 07:09] matschaffer commented on #261
I can't seem to find anywhere I can download a regular build of openjdk 11.0.8. The closest I could find was 11.0.2 which doesn't seem to exhibit the same problem as the one bundled with intellij.

[code]

[2020-11-08 07:53] matschaffer commented on #261
I had to muck up the code a bit but I got Plantuml loaded in a debugger running from IntelliJ's java runtime and can see the `NaN` width

If I change that `StereotypeFontSize` to anything other than 0 it's a proper number, but you see it in the diagram (maybe as just 1 pixel line)

![plantuml_–_FileFormat_java](https://user-images.githubusercontent.com/690/98459931-d8e2cd80-21e2-11eb-82eb-54984aed

[2020-11-08 07:55] matschaffer commented on #261
In oracle 11.0.9 I get `w=0.0`

So it seems like something having to do with how the IntelliJ JRE is interpreting that `0`.

Could maybe just wait till the next intellij release and see if that fixes it.

It's not a big issue, just caught me by surprise so thought I'd report it.

[2020-11-08 09:04] krasa commented on #261
Report it here: https://forum.plantuml.net/

[2020-11-08 09:09] krasa commented on #261
You can try a new JB JRE: https://bintray.com/jetbrains/intellij-jbr/jbrsdk11-osx-x64/_latestVersion -> Files ->  jbrsdk

[2020-11-08 09:11] krasa commented on #261
not only that, it runs in the same process

[2020-11-08 11:08] krasa commented on #261
It seems not only JRE but also OS related.
![image](https://user-images.githubusercontent.com/1160875/98463307-9b6a4a00-21ba-11eb-966f-7f56d445c98f.png)
[code]

[2020-11-09 00:34] matschaffer commented on #261
At this stage I'm thinking wait for the next jetbrains release. If it persists maybe open an plantuml issue to see if they can make it more resilient to a possible NaN when computing text width.

[2020-11-11 09:44] YannCebron opened #267 "Move Settings node under existing root node"
Please consider moving it to existing parent node so it's not at root-level. I'd suggest "Languages and Frameworks".

[2020-11-18 11:56] 3bdl1 opened #268 "flow diagram does not render"
hello,
i am trying to use plantuml extention to render a flow diagram, by using just this simple snippet:
`@startuml
(*) --> "First Action"
-->[You can put also labels] "Second Action"
--> (*)
@enduml`

i have this error
![image](https://user-images.githubusercontent.com/10292081/99527662-72596e80-299d-11eb-896a-0776fd91a399.png)

[2020-11-18 11:58] krasa commented on #268
Install  Graphviz.

[2020-11-18 14:10] 3bdl1 commented on #268
thank you !
worked great

[2020-11-18 14:10] #268 closed

[2020-11-24 17:08] krasa commented on #262
I just tried it on Dell with Win 10 and the trackpad works.

[2020-11-24 17:48] krasa commented on #262
It did not work properly with OS scaling. Should be fixed now.

And it is laggy because plantuml png rendering is slow, implementing svg viewer could help a little bit.

[2020-11-25 19:46] jpsenior commented on #262
This is a lovely feature, thank you for adding it! I only discovered it from the release notes.

[2020-11-26 19:07] e13mort commented on #262
I think I forgot to mention that I have issues with touchpad zooming on MacOS

[2020-11-26 21:46] krasa commented on #262
I could add some logging, or you could try to debug it yourself if you want.

[2020-11-27 12:13] alexfanshawebabylon opened #269 "grouping components broken for entity diagrams"
the example from: https://plantuml.com/component-diagram#58bb821cf05c48a2 doesn't render
![image](https://user-images.githubusercontent.com/51671182/100448209-de2c8d00-30a9-11eb-9d1b-69858b3dfe53.png)

[2020-11-27 12:15] alexfanshawebabylon commented on #269
ah sorry, just noticed: needs graphviz https://www.graphviz.org/download/

[2020-11-27 12:15] #269 closed

[2020-12-02 16:33] jakul opened #270 "Feature request: name diagrams based on their `title` / `newpage` instead of page number"
# Background
One large PlantUML file with multiple diagrams in, separated by `newpage` directives. The first page has a `title` and the others all have names as part of `newpage`.

# Expected behaviour
When running the "Save all diagrams" action the created files will be named after the `title` / `newpage`

# Actual behaviour
The files are names with page numbers

[2020-12-02 20:55] alon-sage opened #271 "Feature request: JSON Diagram support"
PlantUML supports [JSON Diagram](https://plantuml.com/en/json) format. As JSON is widely used format It will be useful add this feature into plugin too.

**Example**
[code]

![image](https://user-images.githubusercontent.com/1139326/100929560-e3019e80-34f8-11eb-8bb8-410d34af8d06.png)

[2020-12-09 17:04] rhutzel opened #272 "IDE Export Settings throws NotDirectoryException"
Open IntelliJ's File menu and select "Manage IDE Settings" and "Export Settings...". Choose any options and destination, then click OK. I receive the following error message in a pop-up dialog:

Error writing settings.
java.nio.file.NotDirectoryException:
/Users/<username>/Library/Application Support/JetBrains/IntelliJIdea2020.3/options/plantuml.cfg

My `/Users/<username>/Library/Application Suppo

[2020-12-11 16:28] timur-han opened #273 "Possibility to allow external selection of plantuml.jar"
Hi,

Thank you for the contribution.

Is it possible to configure plantuml.jar to be used to render the files? Plantuml has sometimes backward compatibility issues and in such cases, I think it will help us to select the right version of plantuml.jar externally.

[2020-12-11 16:56] krasa commented on #273
You can do it manually if you shutdown the IDE and replace e.g. `C:\Users\x\AppData\Local\JetBrains\Toolbox\apps\IDEA-U\ch-4\203.5981.155.plugins\plantuml4idea\lib\plantuml.1.2020.20.jar`

The problem is that the plantuml API changes quite frequently, so it will not always work.

[2020-12-15 01:46] ZhaoGuangYue1986 opened #274 "Is there any plan to support plantuml new Activity Diagram (beta)"
Is there any plan to support plantuml new  Activity Diagram (beta)
new  Activity Diagram (beta) like bellow
https://plantuml.com/en/activity-diagram-beta

[2020-12-15 10:46] deeppunster commented on #272
It appears that all other plugin settings files in the .../options directory are .xml files.  The plantuml settings file is a .cfg. Is this a new requirement that JetBrains added without adequately notifying plugin vendors ahead of time?

If I exclude just the plantuml settings, the export of all the other settings works.

On the other hand, is there a workaround we can use so the plantuml setting

[2020-12-15 13:30] #272 closed

[2020-12-15 13:42] #271 closed

[2020-12-15 13:48] krasa commented on #257
No, but it could be implemented https://github.com/esteinberg/plantuml4idea/blob/bc3e4dec5a19171fc009393834019d151d746b9c/src/org/plantuml/idea/toolwindow/PlantUmlImageLabel.java#L132-L141

[2020-12-15 13:55] krasa commented on #272
New version will migrate that cfg into xml.
You can try it:
https://github.com/esteinberg/plantuml4idea/releases/download/2.29.0/plantuml4idea.zip

[2020-12-15 14:00] krasa commented on #274
fixed by https://github.com/esteinberg/plantuml4idea/issues/271

[2020-12-15 14:00] #274 closed

[2020-12-15 14:01] krasa commented on #169
duplicates https://github.com/esteinberg/plantuml4idea/issues/262

[2020-12-15 14:01] #169 closed

[2020-12-16 00:50] ZhaoGuangYue1986 commented on #274
ISSUE 271 most likely to support json format , is it also support new Activity Diagram (beta)?
I think json format and new Activity Diagram are different

[2020-12-23 15:55] dylanaut opened #275 "UnsupportedOperationException at net.sourceforge.plantuml.cucadiagram.BodierSimple.hasUrl (79)"
ExternalToolPass:

com.intellij.diagnostic.PluginException: annotator: org.plantuml.idea.lang.annotator.PlantUmlExternalAnnotator@44f713f (class org.plantuml.idea.lang.annotator.PlantUmlExternalAnnotator) [Plugin: PlantUML integration]
	at com.intellij.ide.plugins.PluginManagerCore.createPluginException(PluginManagerCore.java:335)
	at com.intellij.diagnostic.PluginProblemReporterImpl.createPluginE

[2020-12-24 12:53] pcr-antalya opened #276 "File Structure"
Please consider adding support for File Structure?

Currently to find proper class/object I'm using search, and get lots of references is in multiple places.

[2020-12-24 12:54] pcr-antalya opened #277 "Jump to definition/references"
Often want to change definition, and want to jump from a reference to an object/class/state.

Please add cross-referencing?

[2020-12-24 12:56] neopaf opened #278 "Refactoring"
Currently Replaces can touch things I don't want be renamed.

Refactoring support would be extremely useful.

(Thank you thank you thank you for this beautiful plugin!)

[2020-12-24 12:56] neopaf opened #279 "map keyword"
PlantUML supports `map` objects in object diagrams.

But that word is not highlighted.

[2020-12-29 15:01] DidierLoiseau opened #280 "Plugin does not use configured dot.exe"
On our work laptops, we cannot run any application under our home folder. The administrators restricted permissions to only run programs under specific directories which they control.

It seems however that PlantUML now tries to use its embedded `dot.exe` instead of the one configured in the plugin settings:
[code]
I have checked that the `dot.exe` file is different (different file size).

What I

[2020-12-29 15:25] krasa commented on #280
it seems hardcoded https://github.com/plantuml/plantuml/blob/9b708081fcec72ebe5fd4a10e66bc69988d2bb53/src/net/sourceforge/plantuml/windowsdot/WindowsDotArchive.java#L89

https://forum.plantuml.net/12468/plug-and-play-installation-for-windows?show=12472#c12472

[2020-12-29 15:42] krasa commented on #280
imho downgrading the plugin/plantuml should help.

[2020-12-29 21:42] arnaudroques commented on #280
Thanks for the report and sorry about that.
We are going to fix this one in next beta.
We'll post a message here when ready.

[2020-12-30 08:55] DidierLoiseau commented on #280
Thanks @arnaudroques. If I am not wrong, the problem is just that [`GraphvizWindowsLite` overrides `searchDotExe()`](/plantuml/plantuml/blob/099843c8307b4fc97d88f99a8fab3ee5a4b9a20c/src/net/sourceforge/plantuml/cucadiagram/dot/GraphvizWindowsLite.java#L49), no?

Otherwise the default implementation would just use the `GRAPHVIZ_DOT` env/property, then the `PATH` env, before the fallback on the embe

[2020-12-30 16:02] arnaudroques commented on #280
Yes. All these need a proper refactor now :-)

Just the forum.
It should be fixed in last beta http://beta.plantuml.net/plantuml.jar

Tell us if it's not working for you !

[2020-12-30 20:20] DidierLoiseau commented on #280
@krasa, is there a way to load that jar directly into the plugin?

[2020-12-30 20:42] krasa commented on #280
@DidierLoiseau yes, just replace the jar in e.g. `C:\Users\x\AppData\Local\JetBrains\Toolbox\apps\IDEA-U\ch-4\203.5981.155.plugins\plantuml4idea\lib`

[2020-12-31 08:26] DidierLoiseau commented on #280
Thanks, it's working for me with the beta 🙂

[2021-01-04 11:57] DonMathi opened #281 "V1.2020.26 fix"
Please

Are you sometime in the near future able to make an update for V1.2020.26?
https://plantuml.com/changes

Best Regards
Kjeld

[2021-01-08 14:00] #270 closed

[2021-01-08 14:00] #273 closed

[2021-01-08 14:11] #279 closed

[2021-01-08 14:13] krasa commented on #275
imho fixed in the new plantuml version. you can try it: https://github.com/esteinberg/plantuml4idea/releases/tag/3.00

[2021-01-08 14:13] #275 closed

[2021-01-08 14:16] krasa commented on #281
Bundled here, I will release it after some testing, you can try it: https://github.com/esteinberg/plantuml4idea/releases/tag/3.00

[2021-01-08 14:16] #281 closed

[2021-01-08 14:17] krasa commented on #273
I will release it after some testing, you can try it: https://github.com/esteinberg/plantuml4idea/releases/tag/3.00

[2021-01-08 14:19] krasa commented on #209
Fixed by https://github.com/esteinberg/plantuml4idea/issues/273

I will release it after some testing, you can try it: https://github.com/esteinberg/plantuml4idea/releases/tag/3.00

[2021-01-08 14:19] #209 closed

[2021-01-08 17:50] neopaf commented on #279
Thanks, @krasa

[2021-01-08 18:03] krasa commented on #279
No problem. You can try it, it will take some time before I release it: https://github.com/esteinberg/plantuml4idea/releases/tag/3.00

[2021-01-08 22:11] krasa commented on #250
What exactly do you mean?

Do you want to render things like:
[code]

or

[code]

or do you want to virtually add @startuml/@enduml or (@startdot?) to the whole file?

[2021-01-08 23:39] #267 closed

[2021-01-10 22:24] #247 closed

[2021-01-10 22:24] #260 closed

[2021-01-11 07:55] DonMathi commented on #281
Thank you very much. Works like a charm
Best Regards
Kjeld

[2021-01-11 14:28] krasa commented on #277
#61 ?

[2021-01-11 18:45] neopaf commented on #277
Yeah

[2021-01-12 11:26] krasa commented on #277
I implemented it, it does not care about syntax, just jumps between same words. Renaming also somehow works.

You can try it:
https://github.com/esteinberg/plantuml4idea/releases/tag/3.1.0-grammar

[2021-01-12 20:55] neopaf commented on #277
Tried official upgrade, it shows 3.1.0 version now:
![Снимок экрана 2021-01-12 в 23 52 28](https://user-images.githubusercontent.com/4362564/104372934-3bcd4980-5531-11eb-92af-a71d3e17cd47.png)

I do see `map` highlighted (thanks, Eugene, this is great!), but don't seem to have cross-referencing:
![Снимок экрана 2021-01-12 в 23 53 05](https://user-images.githubusercontent.com/4362564/104372989-53a4

[2021-01-12 21:17] krasa commented on #277
It is not yet released, you have to install manually by dragging the zip into the editor
https://github.com/esteinberg/plantuml4idea/releases/tag/3.1.0-grammar2

[2021-01-12 21:28] krasa commented on #276
plantuml grammar is crazy and there are too many diagram types, not feasible, unless someone makes a proper grammar for different diagrams.

[2021-01-12 21:28] #276 closed

[2021-01-12 22:48] krasa commented on #280
seems fixed in the new version

[2021-01-12 22:48] #280 closed

[2021-01-13 06:35] neopaf commented on #277
![Снимок экрана 2021-01-13 в 09 33 59](https://user-images.githubusercontent.com/4362564/104415140-84f9b980-5582-11eb-932a-cbbd292717bd.png)

Ole Ole Ole Ole!
Thanks a ton, Eugene. New era has begun!
You've saved us innumerable keystrokes and milliseconds (summed up to eras!).

[2021-01-13 06:37] neopaf commented on #277
Small problem found:
[code]

![Снимок экрана 2021-01-13 в 09 37 04](https://user-images.githubusercontent.com/4362564/104415353-ee79c800-5582-11eb-9ab3-7acf1f3ad460.png)

[2021-01-13 06:41] neopaf commented on #276
Eugene, I understand it you don't go deep into file right now, so you'd probably need one universal grammar.

Which grammar file format you would accept?
Maybe I could find some time to do that.

[2021-01-13 11:05] krasa commented on #276
Btw I am not Eugenee. :-)

People tried before and failed. https://github.com/esteinberg/plantuml4idea/blob/0d69c190155a00b25ee05f12d60956aec2c66cf2/src/org/plantuml/idea/lang/parser/PlantUml.flex
https://github.com/esteinberg/plantuml4idea/blob/0d69c190155a00b25ee05f12d60956aec2c66cf2/src/org/plantuml/idea/lang/parser/PlantUml.bnf

Compare that to my simple way:
https://github.com/esteinberg/plan

[2021-01-13 11:43] krasa commented on #277
Thanks!
Fixed, hopefully the opposite edgecase will not bother someone too much. :)

[2021-01-13 12:07] neopaf commented on #277
Thanks! Any prerelease for lazy-me to download?

Sorry about name confusion, @krasa
(Which is your first name? Krasa or Vojtěch?)
(In Russian krasa means beauty, wonder what it means in your language;)

[2021-01-13 12:57] krasa commented on #277
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5808682/plantuml4idea.zip)

No problem, first name: Vojtěch
It mean the same in Czech. :-)

[2021-01-13 13:22] neopaf commented on #277
![Снимок экрана 2021-01-13 в 16 22 20](https://user-images.githubusercontent.com/4362564/104457773-226ce180-55b3-11eb-89c8-278148e08704.png)

[2021-01-13 13:33] neopaf commented on #276
I feel I got the problem.
But maybe it is possible to ignore it?

Point of file structure, as I intend to use it  -- is to be able to quickly jump to definition of a symbol.

As I understood now, by definition you now assumed "first occurance". And that is enough for the purpose!

Maybe it is possible to make a "light" version of structure, by putting every possible word there, and allow quick-nav

[2021-01-13 13:35] neopaf commented on #276
Example like I use this partial-name-typing in Java context:

![Снимок экрана 2021-01-13 в 16 34 23](https://user-images.githubusercontent.com/4362564/104459010-d28f1a00-55b4-11eb-8045-dca5aeb20fab.png)

[2021-01-13 14:09] krasa commented on #276
Actually it was super easy :)

[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5809028/plantuml4idea.zip)

[2021-01-13 16:56] krasa commented on #276
![image](https://user-images.githubusercontent.com/1160875/104483572-8f3ea680-55c8-11eb-81d4-bd5398738b6a.png)

[2021-01-14 06:47] krasa commented on #277
new build with a little better highlighting of keywords
https://github.com/esteinberg/plantuml4idea/releases/download/3.1.0-grammar3/plantuml4idea.zip

[2021-01-14 08:36] sessionbean opened #282 "How to remove ad."

[2021-01-14 09:00] krasa commented on #282
ad?

[2021-01-14 09:05] neopaf commented on #276
Precisely!

(Salivating here)

[2021-01-14 09:09] sessionbean commented on #282
yes, when we have syntax error.

[2021-01-14 09:12] krasa commented on #282
https://github.com/plantuml/plantuml/blob/56cd2269dd6b95925e8a8c44102002d5749549bc/src/net/sourceforge/plantuml/error/PSystemError.java#L234-L249

[2021-01-14 09:13] neopaf commented on #276
AAAA. Awesome!
Thank you very much, Vojtech.

You've save me (and, I'm sure, hundreds? thousands?) of others lots of time.

While people are looking for things, the idea they wanted to put into document may escape them (my case).
And sometimes it is hard to recover you thoughts.
But this time we could focus on what we're doing.

This is how fast it is now:
![Снимок экрана 2021-01-14 в 12 09 29](ht

[2021-01-14 09:17] krasa commented on #282
https://plantuml.com/professional

[2021-01-14 09:17] #282 closed

[2021-01-14 09:20] sessionbean commented on #282
thank,good to know

[2021-01-14 09:33] neopaf commented on #277
nothing broken as far as I see.

[2021-01-14 10:28] #61 closed

[2021-01-14 10:39] #278 closed

[2021-01-14 10:40] krasa commented on #277
Thanks a lot!

[2021-01-14 10:40] #277 closed

[2021-01-14 10:48] krasa commented on #17
Simple grammar added, supporting navigation and renaming, keyword are highlighted simply by plaintext matching: https://github.com/esteinberg/plantuml4idea/commit/bd81a9bcf53235ef6ce529f1a6bc75973e8f2c47

Having a proper grammar seems not feasible.

[2021-01-14 10:48] #17 closed

[2021-01-14 12:06] gberche-orange commented on #61
great, thanks @krasa !

[2021-01-14 16:32] krasa commented on #232
should be fixed in recent version

[2021-01-14 16:32] #232 closed

[2021-01-19 09:48] VadimShtukan opened #284 "After update to 3.3.0 don`t work inspections for spelling"
After update to 3.3.0 don`t work inspections for spelling and code analysing.
Inspect code has result "No suspicious code found. 1 files processed in 'File ....puml"

[2021-01-19 11:28] krasa commented on #284
Thanks! You can update.

[2021-01-19 12:34] VadimShtukan commented on #284
It works now only for English grammar. For Russian spelling still doesn't work. For another files it works perfect.
I use Grazie.

[2021-01-19 12:50] krasa commented on #284
I will try to add Grazie later.

[2021-01-20 12:48] krasa commented on #284
You can try it, not sure how well it will work, it may need to some way to distinguish what is a part of the sentence and what is a separator from another sentence/entity - which is currently all special characters, unless in braces...
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5842427/plantuml4idea.zip)

[2021-01-21 12:00] VadimShtukan commented on #284
In version 3.5.0 it still doesn't work. I noticed that if write text between [ ] it works correctly. For example [Оалвыалвы]

[2021-01-21 12:50] krasa commented on #284
Now it should work, and also the code navigation
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5849368/plantuml4idea.zip)

[2021-01-21 13:02] VadimShtukan commented on #284
Now it's working perfectly! Thanks!

[2021-01-22 09:26] bwl21 commented on #257
This wold be really cool. I am using complex sequence charts and would love to have source navigation

[2021-01-22 09:55] krasa commented on #257
How would you like the links to work?

It would be possible to simply find the link ```[[foo]]``` in the source code (as long as it is unique), or you could have something that defines a fixed position, perhaps: ```[[FileName.java:20]]```.

[2021-01-22 11:08] bwl21 commented on #257
What i m
![image](https://user-images.githubusercontent.com/2022976/105483343-03083f80-5caa-11eb-9a95-3267a00b4e44.png)

if you click in preview on the separator "Im Vorfeld" cursor should be placed in line 1
if you click in preview on the group label "Sonstige Veranstaltung" cursor should be in line 3
if you klick in preview on the note, cursor should be in line 5
if you klick in priview on the m

[2021-01-22 11:11] bwl21 commented on #39
Is there a general hint, how I can adapt syntax coloring?

![image](https://user-images.githubusercontent.com/2022976/105483976-ef110d80-5caa-11eb-9752-866650898b61.png)

This is what I have and it is not really satisfying.

[2021-01-22 11:42] krasa commented on #39
The problem is understanding the syntax, which as a whole is not feasible.
But it may be possible to implement some simple logic - perhaps detect an arrow, and color both sides...

[2021-01-22 12:00] bwl21 commented on #39
I also feel the the plantuml grammar is considered to be easy to use, but I guess it is difficult to parse.

OTH IntelliJ provides code completion so it should somehow know the tokens ... I have no clue how to configure this in IntelliJ.

there is a plantuml language server https://marketplace.visualstudio.com/items?itemName=KieranBorsden.PlantUmlLanguageService i wonder if this can be utilized fo

[2021-01-22 14:19] krasa commented on #257
You can try it.
PlantUML does not provide a position in the source, so I just navigate to the first occurance. Better than nothing, right?
Maybe PlantUML dev could add the position to the SVG, we will see.

Enable: "Render links" in settings.

BTW PlantUML seems to have some performance bug and every +- 4. rendering is much slower for Graphviz diagrams. Links require one extra SVG rendering, that

[2021-01-22 14:25] krasa commented on #39
There are ~20 diagram types, and making parser for even one is pretty difficult.

See
https://forum.plantuml.net/157/does-a-grammar-exist-for-the-language
https://github.com/esteinberg/plantuml4idea/issues/17
https://github.com/esteinberg/plantuml4idea/issues/179

[2021-01-22 14:34] krasa commented on #257
Hmm the performance problem is there only when I debug it, strange. So I will probably enable it by default.

[2021-01-22 15:02] bwl21 commented on #257
This is amazing :-)  I found in settings the debug mode which is also cool, so i see where i can click on.

could it be that it does not scroll to the finding.

may I propose that every click goes to the next position? So one can simply cycle through the findings. Or even open the Intellij Search dialog.

[2021-01-22 15:05] bwl21 commented on #39
If I can configure something on my own using regular expressions or whatever, i would do, for the stuff in need. At least some tokens must be there in IntellJ as it provides  reasonable code completion proposals

[2021-01-22 15:14] bwl21 commented on #277
I don't know how to handle the structure view. It looks like this but not reflect the sructure

![image](https://user-images.githubusercontent.com/2022976/105508605-da457180-5ccc-11eb-9fcc-62c8a0c411f5.png)

[2021-01-22 16:39] krasa commented on #277
It just shows the first occurence, not structure. https://github.com/esteinberg/plantuml4idea/issues/276

[2021-01-22 18:39] krasa commented on #257
👍

[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5857892/plantuml4idea.zip)

[2021-01-23 09:55] bwl21 commented on #257
very good. Behaviour is a bit strange when I click several times on the same link. Sometimes nothing happens, it cyles between the first two findings. But I can use the search to find them all.

https://user-images.githubusercontent.com/2022976/105575100-5097b180-5d69-11eb-92ed-86be0148bc81.mov

[2021-01-23 10:32] krasa commented on #257
Cannot reproduce.

What if you copy paste the first match over the last, does that fix it? Maybe it does not match exactly?

It could happen if the image was refreshed, which it shouldn't, maybe something broken with the cache.

Could you enable debug? (Help | Diagnostic tools | debug log settings)
Add:
[code]

You should see always "render not required, item already displayed",  like:
[code]

[2021-01-23 10:40] bwl21 commented on #257
where can I see the log output?

[2021-01-23 10:47] krasa commented on #257
Help | Show Log in ...

And you need to add ```#org.plantuml```

[2021-01-23 10:54] bwl21 commented on #257
[code]

[2021-01-23 11:03] bwl21 commented on #257
I wonder why I see render required

[2021-01-23 11:39] krasa commented on #257
That zoom is scaled with OS.

The problem was that I compared it to the unscaled on one place :(
I wonder why noone complained about it... that must have sucked.

Fix:
[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5860108/plantuml4idea.zip)

[2021-01-23 11:49] bwl21 commented on #257
now it works like a charm! Amazing improvement

I guess the other way round is not that easy. click in the source and highlight in diagram. But with the links, at least a search in diagram might be possible.

Sorry for raising next issue after getting the first present :-)

[2021-01-23 11:50] bwl21 commented on #257
could it be that rendering now takes longer?

[2021-01-23 11:55] krasa commented on #257
It shouldn't, maybe only the JVM needs to warm up, also disable the debug log.

[2021-01-23 12:28] krasa commented on #257
Hmm highlighting in the image according to the word under caret or selection might not be a problem. But are your images really so big you are lost in them? :-)

I just released this, thank you so much, what a great help!

[2021-01-23 12:44] #284 closed

[2021-01-23 12:59] bwl21 commented on #257
yes, there is one. I am not getting lost in it, but if I edit those diagrams in front of non technical clients, I would be a bit faster if I had the way back as well. But its not a big deal as in this scenario I mainly work from image to source.

[2021-01-24 18:40] krasa commented on #257
Here you go, I did it the simpliest way possible, so it has some false positives:

[plantuml4idea.zip](https://github.com/esteinberg/plantuml4idea/files/5862911/plantuml4idea.zip) for IJ 2020.3+

(so far I was unable to fix that layout)
![image](https://user-images.githubusercontent.com/1160875/105639997-bb391200-5e7b-11eb-8ec5-6ed3b1bed81a.png)

[2021-01-24 18:50] bwl21 commented on #257
Thanks a lot. something went wrong with the link area now

![image](https://user-images.githubusercontent.com/2022976/105640199-00117880-5e7d-11eb-923d-9c768a2696bc.png)

[2021-01-24 18:52] krasa commented on #257
what if you switch back to PNG?
![image](https://user-images.githubusercontent.com/1160875/105640308-aa899b80-5e7d-11eb-9d30-0f016489ab98.png)